.footer-brand p {
    color: #fff !important;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}

.time_circles > div {
    position: absolute;
    text-align: center;
    color: #fff !important;

}

.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;

    background: linear-gradient(135deg, #ffffff 0, #fa9a00 20%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

ol li {
    color: #222222 !important;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    margin-top: 0.4em;
    font-family: "Open Sans", sans-serif;
    color: #fff !important;

}

.tp-rightarrow {
    display: none !important;
}
.tp-leftarrow {
    display: none !important;
}

.countdown-time {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5%;
}

.buttons-slider {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25%;
}

.btn-b {
    position: relative;
    /* display: inline-block; */
    border-radius: 4px;
    padding: 12px 25px;
    font-size: 26px;
    line-height: 14px;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    color: #fff;
}
.countdown-time-whitepaper {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20%;
    color: #212121 !important;
}

.countdown-time-whitepaper .time_circles > div > span {
    position: absolute;
    text-align: center;
    color: #212121 !important;
}

h3, h2, h4, h5 {
    font-family: 'Open Sans', sans-serif !important;
    color: inherit;
    font-weight: 800;
    letter-spacing: .83px;
    line-height: 1.4;
    background: linear-gradient(135deg, #ffd22a 0, #fa9a00 20%, #ffd22a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8em;
    text-align: center;

}

div.progress {
    height: 32px;
}

h6 {
    font-family: 'Open Sans', sans-serif !important;
    color: inherit;
    font-weight: 800;
    letter-spacing: .83px;
    line-height: 1.4;
    background: linear-gradient(135deg, #ffd22a 0, #fa9a00 20%, #ffd22a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
}

.fa-2x {
    font-size: 3em;
    color: #000;
}

p {
    color: #000 !important;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

ul li {
    color: #000 !important;
    font-weight: 800;
}

.flex-center {
    float: none;
    margin: 0 auto;
}


.bgleft {
    background-image: url(/images/fractal-rightx.png);
    background-repeat: no-repeat;
    background-position: -672px 100px;
    height: 100%;
    width: 100%;
}

.bgright {
    background-image: url(/images/fractal4.png);
    background-repeat: no-repeat;
    background-position: 1155px 100px;
    height: 100%;
    width: 100%;
}


.bgright ul li, .bgright p, .bgright .fa-2x {
    color: #fff !important;
}

.otherbg {
   /* background-image: url('/images/background-2.jpg'); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
    width: 100%;
}

table, tr, th {
    /*
    background: linear-gradient(90deg, #000000 0, #222222 38%, #000000 100%);
    transition: .5s ease;
    border-color: #AD5904 !important;
    color: #fff !important;
    */
}

td {
    /*   background: linear-gradient(90deg, #000000 0, #222222 38%, #000000 100%);
       border-color: #AD5904 !important;
       text-align: center !important;
       font-weight: bold;
       color: #abaaaa !important;
       */
}

th {
    /*
    border-color: #AD5904 !important;
    text-align: center !important;
    font-weight: bold;
    */
}

.flip-clock-label {
    color: #fff !important;
}

.glow {
    background: url('images/glow.jpg') no-repeat;
    background-position: top;
}

.pull-right-info {
    float: right;
    text-align: end;
}

.float-left {
    float: left;
    text-align: left;
    padding-right: 15px;
}

.background-dark {
    background: #fff;
    padding: 50px 0 0 0;
    color: #bababa;
}

.background-dark-1 {
    background: #000;
    padding: 50px 0 0 0;
    color: #bababa;
}

.background-black {
    background: #fff;
    padding: 50px 0 0 0;
    color: #bababa;
}

.content {
    position: relative;
    margin-top: -330px;
    margin-bottom: 225px;
}

@media only screen and (max-width: 500px) {
    #countdown {
        text-align: center;
        line-height: 1;
    }

    #countdown > div {
        display: inline-block;
        margin: 0 30px 15px;
        color: #fff !important;
    }

    #countdown > div > div {
        margin-bottom: 22px;
        font-weight: 200;
        font-size: 28px;

    }

    #countdown > div > i {
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
    }
}

.timeline {
    position: relative;
    padding: 40px 0;
    margin-top: 40px;
}

.timeline .blogpost footer {
    padding-top: 0px;
    border-top: none;
}

.timeline .blogpost header h2 {
    font-size: 22px;
}

.timeline .timeline-item {
    padding: 0 15px;
}

.timeline-date-label {
    float: none;
    clear: both;
    display: block;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 80px;
    line-height: 1;
    width: 135px;
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.timeline-date-label:after {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: -8px;
    z-index: -1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .timeline .blogpost {
        margin-bottom: 0;
    }

    .timeline:before {
        background-color: #e8e8e8;
        background: -moz-linear-gradient(top, transparent 0%, rgba(193, 97, 0, 0.97) 10%, rgb(230, 154, 0) 90%, transparent 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(10%, rgb(193, 97, 0)), color-stop(90%, rgb(230, 154, 0)), color-stop(100%, transparent));
        background: -webkit-linear-gradient(top, transparent 0%, rgb(193, 97, 0) 10%, rgba(230, 154, 0, 0.09) 90%, transparent 100%);
        background: -o-linear-gradient(top, transparent 0%, rgb(193, 97, 0) 10%, rgba(0, 0, 0, 0.09) 90%, transparent 100%);
        background: -ms-linear-gradient(top, transparent 0%, rgb(230, 154, 0) 10%, rgba(0, 0, 0, 0.09) 90%, transparent 100%);
        background: linear-gradient(to bottom, transparent 0%, rgb(193, 97, 0) 10%, rgba(0, 0, 0, 0.09) 90%, transparent 100%);
        width: 1px;
        height: 100%;
        content: "";
        position: absolute;
        left: 50%;
        display: block;
        top: 0;
    }

    .timeline .timeline-item {
        position: relative;
        width: 50%;
        padding-left: 0;
        padding-right: 40px;
        margin-bottom: 80px;
        float: left;
        clear: left;
        z-index: 1;
    }

    .timeline .timeline-item.pull-right {
        position: relative;
        width: 50%;
        padding-left: 40px;
        padding-right: 0;
        margin-top: 80px;
        margin-bottom: 0;
        float: right;
        clear: right;
    }

    .timeline .timeline-item.pull-right + .timeline-date-label {
        padding-top: 80px;
    }

    .timeline .timeline-item:after {
        content: "";
        font-family: "FontAwesome";
        right: 0px;
        background-color: #c16100;
        left: auto;
        position: absolute;
        top: 20px;
        z-index: -1;
        width: 35px;
        height: 1px;
    }

    .timeline .timeline-item:before {
        content: "";
        position: absolute;
        background-color: #c16100;
        border: 1px solid #c16100;
        height: 7px;
        width: 7px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        top: 17px;
        right: -4px;
    }

    .timeline .timeline-item.pull-right:after {
        right: auto;
        left: 0px;
    }

    .timeline .timeline-item.pull-right:before {
        left: -3px;
    }
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width: 767px) {
    .timeline .timeline-item.pull-right {
        float: none !important;
    }

    .background {
        background-image: url('/images/nice2.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.background {
    background-image: url('/images/nice2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
