/* ------------------------------------------------------------------------
	This you can edit.
------------------------------------------------------------------------- */
/* ----------------------------------
		Default Theme
	----------------------------------- */

div.pp_default .pp_top,
div.pp_default .pp_top .pp_middle,
div.pp_default .pp_top .pp_left,
div.pp_default .pp_top .pp_right,
div.pp_default .pp_bottom,
div.pp_default .pp_bottom .pp_left,
div.pp_default .pp_bottom .pp_middle,
div.pp_default .pp_bottom .pp_right {
    height: 13px;
}
div.pp_default .pp_content .ppt {
    color: #f8f8f8;
}
div.pp_default .pp_close,
div.pp_default .pp_expand,
div.pp_default .pp_contract {
    background-color: #0b0b0b;
    text-indent: 0;
    font-family: 'FontAwesome';
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 38px;
    cursor: pointer;
    margin-left: -5px;
    top: -5px;
    color: #fff;
    border-radius: 0;
    text-align: center;
}
div.pp_default .pp_expand,
div.pp_default .pp_contract {
    right: 40px;
    background-color: #141414;
    border-radius: 0;
}
div.pp_default .pp_close:before {
    content: "\f00d";
    color: #fff;
}
div.pp_default .pp_expand:before {
    content: "\f065";
    color: #fff;
}
div.pp_default .pp_contract:before {
    content: "\f066";
    color: #fff;
}
div.pp_default .pp_close:hover,
div.pp_default .pp_close:focus,
div.pp_default .pp_close:active,
div.pp_default .pp_expand:hover,
div.pp_default .pp_expand:focus,
div.pp_default .pp_expand:active,
div.pp_default .pp_contract:hover,
div.pp_default .pp_contract:focus,
div.pp_default .pp_contract:active {
    text-decoration: none;
}
div.pp_default .pp_loaderIcon {
    background: #fff url(../img/prettyPhoto/default/loader.html) center center no-repeat;
    padding: 20px;
}
/* Loader icon */
/* ----------------------------------
		Light Rounded Theme
	----------------------------------- */

div.light_rounded .pp_top .pp_left {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -88px -53px no-repeat;
}
/* Top left corner */

div.light_rounded .pp_top .pp_middle {
    background: #fff;
}
/* Top pattern/color */

div.light_rounded .pp_top .pp_right {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -110px -53px no-repeat;
}
/* Top right corner */

div.light_rounded .pp_content .ppt {
    color: #000;
}
div.light_rounded .pp_content_container .pp_left,
div.light_rounded .pp_content_container .pp_right {
    background: #fff;
}
div.light_rounded .pp_content {
    background-color: #fff;
}
/* Content background */

div.light_rounded .pp_next:hover {
    background: url(../img/prettyPhoto/light_rounded/btnNext.html) center right no-repeat;
    cursor: pointer;
}
/* Next button */

div.light_rounded .pp_previous:hover {
    background: url(../img/prettyPhoto/light_rounded/btnPrevious.html) center left no-repeat;
    cursor: pointer;
}
/* Previous button */

div.light_rounded .pp_expand {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -31px -26px no-repeat;
    cursor: pointer;
}
/* Expand button */

div.light_rounded .pp_expand:hover {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -31px -47px no-repeat;
    cursor: pointer;
}
/* Expand button hover */

div.light_rounded .pp_contract {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) 0 -26px no-repeat;
    cursor: pointer;
}
/* Contract button */

div.light_rounded .pp_contract:hover {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) 0 -47px no-repeat;
    cursor: pointer;
}
/* Contract button hover */

div.light_rounded .pp_close {
    width: 75px;
    height: 22px;
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -1px -1px no-repeat;
    cursor: pointer;
}
/* Close button */

div.light_rounded .pp_details {
    position: relative;
}
div.light_rounded .pp_description {
    margin-right: 85px;
}
div.light_rounded #pp_full_res .pp_inline {
    color: #000;
}
div.light_rounded .pp_gallery a.pp_arrow_previous,
div.light_rounded .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
}
div.light_rounded .pp_nav .pp_play {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.light_rounded .pp_nav .pp_pause {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.light_rounded .pp_arrow_previous {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) 0 -71px no-repeat;
}
/* The previous arrow in the bottom nav */

div.light_rounded .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}
div.light_rounded .pp_arrow_next {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -22px -71px no-repeat;
}
/* The next arrow in the bottom nav */

div.light_rounded .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}
div.light_rounded .pp_bottom .pp_left {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -88px -80px no-repeat;
}
/* Bottom left corner */

div.light_rounded .pp_bottom .pp_middle {
    background: #fff;
}
/* Bottom pattern/color */

div.light_rounded .pp_bottom .pp_right {
    background: url(../img/prettyPhoto/light_rounded/sprite.html) -110px -80px no-repeat;
}
/* Bottom right corner */

div.light_rounded .pp_loaderIcon {
    background: url(../img/prettyPhoto/light_rounded/loader.html) center center no-repeat;
}
/* Loader icon */
/* ----------------------------------
		Dark Rounded Theme
	----------------------------------- */

div.dark_rounded .pp_top .pp_left {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -88px -53px no-repeat;
}
/* Top left corner */

div.dark_rounded .pp_top .pp_middle {
    background: url(../img/prettyPhoto/dark_rounded/contentPattern.html) top left repeat;
}
/* Top pattern/color */

div.dark_rounded .pp_top .pp_right {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -110px -53px no-repeat;
}
/* Top right corner */

div.dark_rounded .pp_content_container .pp_left {
    background: url(../img/prettyPhoto/dark_rounded/contentPattern.html) top left repeat-y;
}
/* Left Content background */

div.dark_rounded .pp_content_container .pp_right {
    background: url(../img/prettyPhoto/dark_rounded/contentPattern.html) top right repeat-y;
}
/* Right Content background */

div.dark_rounded .pp_content {
    background: url(../img/prettyPhoto/dark_rounded/contentPattern.html) top left repeat;
}
/* Content background */

div.dark_rounded .pp_next:hover {
    background: url(../img/prettyPhoto/dark_rounded/btnNext.html) center right no-repeat;
    cursor: pointer;
}
/* Next button */

div.dark_rounded .pp_previous:hover {
    background: url(../img/prettyPhoto/dark_rounded/btnPrevious.html) center left no-repeat;
    cursor: pointer;
}
/* Previous button */

div.dark_rounded .pp_expand {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -31px -26px no-repeat;
    cursor: pointer;
}
/* Expand button */

div.dark_rounded .pp_expand:hover {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -31px -47px no-repeat;
    cursor: pointer;
}
/* Expand button hover */

div.dark_rounded .pp_contract {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) 0 -26px no-repeat;
    cursor: pointer;
}
/* Contract button */

div.dark_rounded .pp_contract:hover {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) 0 -47px no-repeat;
    cursor: pointer;
}
/* Contract button hover */

div.dark_rounded .pp_close {
    width: 75px;
    height: 22px;
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -1px -1px no-repeat;
    cursor: pointer;
}
/* Close button */

div.dark_rounded .pp_details {
    position: relative;
}
div.dark_rounded .pp_description {
    margin-right: 85px;
}
div.dark_rounded .currentTextHolder {
    color: #c4c4c4;
}
div.dark_rounded .pp_description {
    color: #fff;
}
div.dark_rounded #pp_full_res .pp_inline {
    color: #fff;
}
div.dark_rounded .pp_gallery a.pp_arrow_previous,
div.dark_rounded .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
}
div.dark_rounded .pp_nav .pp_play {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.dark_rounded .pp_nav .pp_pause {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.dark_rounded .pp_arrow_previous {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) 0 -71px no-repeat;
}
/* The previous arrow in the bottom nav */

div.dark_rounded .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}
div.dark_rounded .pp_arrow_next {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -22px -71px no-repeat;
}
/* The next arrow in the bottom nav */

div.dark_rounded .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}
div.dark_rounded .pp_bottom .pp_left {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -88px -80px no-repeat;
}
/* Bottom left corner */

div.dark_rounded .pp_bottom .pp_middle {
    background: url(../img/prettyPhoto/dark_rounded/contentPattern.html) top left repeat;
}
/* Bottom pattern/color */

div.dark_rounded .pp_bottom .pp_right {
    background: url(../img/prettyPhoto/dark_rounded/sprite.html) -110px -80px no-repeat;
}
/* Bottom right corner */

div.dark_rounded .pp_loaderIcon {
    background: url(../img/prettyPhoto/dark_rounded/loader.html) center center no-repeat;
}
/* Loader icon */
/* ----------------------------------
		Dark Square Theme
	----------------------------------- */

div.dark_square .pp_left,
div.dark_square .pp_middle,
div.dark_square .pp_right,
div.dark_square .pp_content {
    background: #000;
}
div.dark_square .currentTextHolder {
    color: #c4c4c4;
}
div.dark_square .pp_description {
    color: #fff;
}
div.dark_square .pp_loaderIcon {
    background: url(../img/prettyPhoto/dark_square/loader.html) center center no-repeat;
}
/* Loader icon */

div.dark_square .pp_expand {
    background: url(../img/prettyPhoto/dark_square/sprite.html) -31px -26px no-repeat;
    cursor: pointer;
}
/* Expand button */

div.dark_square .pp_expand:hover {
    background: url(../img/prettyPhoto/dark_square/sprite.html) -31px -47px no-repeat;
    cursor: pointer;
}
/* Expand button hover */

div.dark_square .pp_contract {
    background: url(../img/prettyPhoto/dark_square/sprite.html) 0 -26px no-repeat;
    cursor: pointer;
}
/* Contract button */

div.dark_square .pp_contract:hover {
    background: url(../img/prettyPhoto/dark_square/sprite.html) 0 -47px no-repeat;
    cursor: pointer;
}
/* Contract button hover */

div.dark_square .pp_close {
    width: 75px;
    height: 22px;
    background: url(../img/prettyPhoto/dark_square/sprite.html) -1px -1px no-repeat;
    cursor: pointer;
}
/* Close button */

div.dark_square .pp_details {
    position: relative;
}
div.dark_square .pp_description {
    margin: 0 85px 0 0;
}
div.dark_square #pp_full_res .pp_inline {
    color: #fff;
}
div.dark_square .pp_gallery a.pp_arrow_previous,
div.dark_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
}
div.dark_square .pp_nav {
    clear: none;
}
div.dark_square .pp_nav .pp_play {
    background: url(../img/prettyPhoto/dark_square/sprite.html) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.dark_square .pp_nav .pp_pause {
    background: url(../img/prettyPhoto/dark_square/sprite.html) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.dark_square .pp_arrow_previous {
    background: url(../img/prettyPhoto/dark_square/sprite.html) 0 -71px no-repeat;
}
/* The previous arrow in the bottom nav */

div.dark_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}
div.dark_square .pp_arrow_next {
    background: url(../img/prettyPhoto/dark_square/sprite.html) -22px -71px no-repeat;
}
/* The next arrow in the bottom nav */

div.dark_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}
div.dark_square .pp_next:hover {
    background: url(../img/prettyPhoto/dark_square/btnNext.html) center right no-repeat;
    cursor: pointer;
}
/* Next button */

div.dark_square .pp_previous:hover {
    background: url(../img/prettyPhoto/dark_square/btnPrevious.html) center left no-repeat;
    cursor: pointer;
}
/* Previous button */
/* ----------------------------------
		Light Square Theme
	----------------------------------- */

div.light_square .pp_left,
div.light_square .pp_middle,
div.light_square .pp_right,
div.light_square .pp_content {
    background: #fff;
}
div.light_square .pp_content .ppt {
    color: #000;
}
div.light_square .pp_expand {
    background: url(../img/prettyPhoto/light_square/sprite.html) -31px -26px no-repeat;
    cursor: pointer;
}
/* Expand button */

div.light_square .pp_expand:hover {
    background: url(../img/prettyPhoto/light_square/sprite.html) -31px -47px no-repeat;
    cursor: pointer;
}
/* Expand button hover */

div.light_square .pp_contract {
    background: url(../img/prettyPhoto/light_square/sprite.html) 0 -26px no-repeat;
    cursor: pointer;
}
/* Contract button */

div.light_square .pp_contract:hover {
    background: url(../img/prettyPhoto/light_square/sprite.html) 0 -47px no-repeat;
    cursor: pointer;
}
/* Contract button hover */

div.light_square .pp_close {
    width: 75px;
    height: 22px;
    background: url(../img/prettyPhoto/light_square/sprite.html) -1px -1px no-repeat;
    cursor: pointer;
}
/* Close button */

div.light_square .pp_details {
    position: relative;
}
div.light_square .pp_description {
    margin-right: 85px;
}
div.light_square #pp_full_res .pp_inline {
    color: #000;
}
div.light_square .pp_gallery a.pp_arrow_previous,
div.light_square .pp_gallery a.pp_arrow_next {
    margin-top: 12px !important;
}
div.light_square .pp_nav .pp_play {
    background: url(../img/prettyPhoto/light_square/sprite.html) -1px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.light_square .pp_nav .pp_pause {
    background: url(../img/prettyPhoto/light_square/sprite.html) -24px -100px no-repeat;
    height: 15px;
    width: 14px;
}
div.light_square .pp_arrow_previous {
    background: url(../img/prettyPhoto/light_square/sprite.html) 0 -71px no-repeat;
}
/* The previous arrow in the bottom nav */

div.light_square .pp_arrow_previous.disabled {
    background-position: 0 -87px;
    cursor: default;
}
div.light_square .pp_arrow_next {
    background: url(../img/prettyPhoto/light_square/sprite.html) -22px -71px no-repeat;
}
/* The next arrow in the bottom nav */

div.light_square .pp_arrow_next.disabled {
    background-position: -22px -87px;
    cursor: default;
}
div.light_square .pp_next:hover {
    background: url(../img/prettyPhoto/light_square/btnNext.html) center right no-repeat;
    cursor: pointer;
}
/* Next button */

div.light_square .pp_previous:hover {
    background: url(../img/prettyPhoto/light_square/btnPrevious.html) center left no-repeat;
    cursor: pointer;
}
/* Previous button */

div.light_square .pp_loaderIcon {
    background: url(../img/prettyPhoto/light_rounded/loader.html) center center no-repeat;
}
/* Loader icon */
/* ----------------------------------
		Facebook style Theme
	----------------------------------- */

div.facebook .pp_top .pp_left {
    background: url(../img/prettyPhoto/facebook/sprite.html) -88px -53px no-repeat;
}
/* Top left corner */

div.facebook .pp_top .pp_middle {
    background: url(../img/prettyPhoto/facebook/contentPatternTop.html) top left repeat-x;
}
/* Top pattern/color */

div.facebook .pp_top .pp_right {
    background: url(../img/prettyPhoto/facebook/sprite.html) -110px -53px no-repeat;
}
/* Top right corner */

div.facebook .pp_content .ppt {
    color: #000;
}
div.facebook .pp_content_container .pp_left {
    background: url(../img/prettyPhoto/facebook/contentPatternLeft.html) top left repeat-y;
}
/* Content background */

div.facebook .pp_content_container .pp_right {
    background: url(../img/prettyPhoto/facebook/contentPatternRight.html) top right repeat-y;
}
/* Content background */

div.facebook .pp_content {
    background: #fff;
}
/* Content background */

div.facebook .pp_expand {
    background: url(../img/prettyPhoto/facebook/sprite.html) -31px -26px no-repeat;
    cursor: pointer;
}
/* Expand button */

div.facebook .pp_expand:hover {
    background: url(../img/prettyPhoto/facebook/sprite.html) -31px -47px no-repeat;
    cursor: pointer;
}
/* Expand button hover */

div.facebook .pp_contract {
    background: url(../img/prettyPhoto/facebook/sprite.html) 0 -26px no-repeat;
    cursor: pointer;
}
/* Contract button */

div.facebook .pp_contract:hover {
    background: url(../img/prettyPhoto/facebook/sprite.html) 0 -47px no-repeat;
    cursor: pointer;
}
/* Contract button hover */

div.facebook .pp_close {
    width: 22px;
    height: 22px;
    background: url(../img/prettyPhoto/facebook/sprite.html) -1px -1px no-repeat;
    cursor: pointer;
}
/* Close button */

div.facebook .pp_details {
    position: relative;
}
div.facebook .pp_description {
    margin: 0 37px 0 0;
}
div.facebook #pp_full_res .pp_inline {
    color: #000;
}
div.facebook .pp_loaderIcon {
    background: url(../img/prettyPhoto/facebook/loader.html) center center no-repeat;
}
/* Loader icon */

div.facebook .pp_arrow_previous {
    background: url(../img/prettyPhoto/facebook/sprite.html) 0 -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}
/* The previous arrow in the bottom nav */

div.facebook .pp_arrow_previous.disabled {
    background-position: 0 -96px;
    cursor: default;
}
div.facebook .pp_arrow_next {
    background: url(../img/prettyPhoto/facebook/sprite.html) -32px -71px no-repeat;
    height: 22px;
    margin-top: 0;
    width: 22px;
}
/* The next arrow in the bottom nav */

div.facebook .pp_arrow_next.disabled {
    background-position: -32px -96px;
    cursor: default;
}
div.facebook .pp_nav {
    margin-top: 0;
}
div.facebook .pp_nav p {
    font-size: 15px;
    padding: 0 3px 0 4px;
}
div.facebook .pp_nav .pp_play {
    background: url(../img/prettyPhoto/facebook/sprite.html) -1px -123px no-repeat;
    height: 22px;
    width: 22px;
}
div.facebook .pp_nav .pp_pause {
    background: url(../img/prettyPhoto/facebook/sprite.html) -32px -123px no-repeat;
    height: 22px;
    width: 22px;
}
div.facebook .pp_next:hover {
    background: url(../img/prettyPhoto/facebook/btnNext.html) center right no-repeat;
    cursor: pointer;
}
/* Next button */

div.facebook .pp_previous:hover {
    background: url(../img/prettyPhoto/facebook/btnPrevious.html) center left no-repeat;
    cursor: pointer;
}
/* Previous button */

div.facebook .pp_bottom .pp_left {
    background: url(../img/prettyPhoto/facebook/sprite.html) -88px -80px no-repeat;
}
/* Bottom left corner */

div.facebook .pp_bottom .pp_middle {
    background: url(../img/prettyPhoto/facebook/contentPatternBottom.html) top left repeat-x;
}
/* Bottom pattern/color */

div.facebook .pp_bottom .pp_right {
    background: url(../img/prettyPhoto/facebook/sprite.html) -110px -80px no-repeat;
}
/* Bottom right corner */
/* ------------------------------------------------------------------------
	DO NOT CHANGE
------------------------------------------------------------------------- */

div.pp_pic_holder a:focus {
    outline: none;
}
div.pp_overlay {
    background: #000;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999;
}
div.pp_pic_holder {
    display: none;
    position: absolute;
    width: 100px;
    z-index: 999999;
}
.pp_top {
    height: 20px;
    position: relative;
}
* html .pp_top {
    padding: 0 20px;
}
.pp_top .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.pp_top .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}
* html .pp_top .pp_middle {
    left: 0;
    position: static;
}
.pp_top .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.pp_content {
    height: 40px;
    min-width: 40px;
}
* html .pp_content {
    width: 40px;
}
.pp_fade {
    display: none;
}
.pp_content_container {
    position: relative;
    text-align: left;
    width: 100%;
}
.pp_content_container .pp_left {
    padding-left: 20px;
}
.pp_content_container .pp_right {
    padding-right: 20px;
}
.pp_content_container .pp_details {
    float: left;
    margin: 10px 0 2px 0;
}
.pp_description {
    display: none;
    margin: 0;
}
.pp_social {
    float: left;
    margin: 0;
}
.pp_social .facebook {
    float: left;
    margin-left: 5px;
    width: 55px;
    overflow: hidden;
}
.pp_social .twitter {
    float: left;
}
.pp_nav {
    clear: right;
    float: left;
    margin: 3px 10px 0 0;
}
.pp_nav p {
    float: left;
    margin: 2px 4px;
    white-space: nowrap;
}
.pp_nav .pp_play,
.pp_nav .pp_pause {
    float: left;
    margin-right: 4px;
    text-indent: -10000px;
}
a.pp_arrow_previous,
a.pp_arrow_next {
    display: block;
    float: left;
    height: 15px;
    margin-top: 3px;
    overflow: hidden;
    text-indent: -10000px;
    width: 14px;
}
.pp_hoverContainer {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.pp_gallery {
    display: none;
    left: 50%;
    margin-top: -50px;
    position: absolute;
    z-index: 10000;
}
.pp_gallery div {
    float: left;
    overflow: hidden;
    position: relative;
}
.pp_gallery ul {
    float: left;
    height: 35px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.pp_gallery ul a {
    border: 1px #000 solid;
    border: 1px rgba(0, 0, 0, 0.5) solid;
    display: block;
    float: left;
    height: 33px;
    overflow: hidden;
}
.pp_gallery ul a:hover,
.pp_gallery li.selected a {
    border-color: #fff;
}
.pp_gallery ul a img {
    border: 0;
}
.pp_gallery li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
}
.pp_gallery li.default a {
    background: url(../img/prettyPhoto/facebook/default_thumbnail.html) 0 0 no-repeat;
    display: block;
    height: 33px;
    width: 50px;
}
.pp_gallery li.default a img {
    display: none;
}
.pp_gallery .pp_arrow_previous,
.pp_gallery .pp_arrow_next {
    margin-top: 7px !important;
}
a.pp_next {
    background: url(../img/prettyPhoto/light_rounded/btnNext.html) 10000px 10000px no-repeat;
    display: block;
    float: right;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}
a.pp_previous {
    background: url(../img/prettyPhoto/light_rounded/btnNext.html) 10000px 10000px no-repeat;
    display: block;
    float: left;
    height: 100%;
    text-indent: -10000px;
    width: 49%;
}
a.pp_expand,
a.pp_contract {
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: 30px;
    text-indent: -10000px;
    top: 10px;
    width: 20px;
    z-index: 20000;
}
a.pp_close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    line-height: 22px;
    text-indent: -10000px;
}
.pp_bottom {
    height: 20px;
    position: relative;
}
* html .pp_bottom {
    padding: 0 20px;
}
.pp_bottom .pp_left {
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
}
.pp_bottom .pp_middle {
    height: 20px;
    left: 20px;
    position: absolute;
    right: 20px;
}
* html .pp_bottom .pp_middle {
    left: 0;
    position: static;
}
.pp_bottom .pp_right {
    height: 20px;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
}
.pp_loaderIcon {
    display: block;
    height: 24px;
    left: 50%;
    margin: -12px 0 0 -12px;
    position: absolute;
    top: 50%;
    width: 24px;
}
#pp_full_res {
    line-height: 1 !important;
}
#pp_full_res .pp_inline {
    text-align: left;
}
#pp_full_res .pp_inline p {
    margin: 0 0 15px 0;
}
div.ppt {
    color: #fff;
    display: none;
    font-size: 17px;
    margin: 0 0 5px 15px;
    z-index: 9999;
}