/* =============================================================================

* Template name : Ecada - Responsive Multipurpose Template
* Author : @encodeslife
* Version : v1.0.1
* Website: http://encodeslife.xyz
* Created : 11 August 2017
* Last update : 16 September 2017

============================================================================= */

/* =============================== CSS STRUCTURE ===============================

01. Typography
02. Images
03. Highlight
04. Dropcaps
05. Blockquote
06. Alert
07. Modal
08. Megamenu
09. Navbar
10. Navbar Full
11. Side Menu
12. Navbar Tabbed
13. Share
14. Navlink right
15. Navbar Responsive
16. Search
17. Navbar Dark
18. Navbar White
19. Breadcrumb
20. Tabs
21. Accordion
22. Progress Bar
23. Pagination
24. Rounded
25. Button
26. Form
27. Divider
28. Icons Page / Glyphicons Icons / Line Icons
29. Login / Registration Page
30. Error Page

============================================================================= */

/*
* === Typography ===
*/
html {
    overflow-y: hidden;
}
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px;
    line-height: 24px;
    color: #636363;
    letter-spacing: 1px;
    overflow-x: hidden;
}
a,
a:active,
a:focus,
a:hover,
button,
button:active,
button:focus,
button:hover {
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:hover {
    text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292929;
    font-family: 'open_sans';
    font-weight: 700;
    margin: 0 0 15px 0;
}
.inner-head h1,
.inner-head h2,
.inner-head h3,
.inner-head h4,
.inner-head h5,
.inner-head h6,
.box-primary h1,
.box-primary h2,
.box-primary h3,
.box-primary h4,
.box-primary h5,
.box-primary h6,
.box-aqua h1,
.box-aqua h2,
.box-aqua h3,
.box-aqua h4,
.box-aqua h5,
.box-aqua h6,
.box-blue h1,
.box-blue h2,
.box-blue h3,
.box-blue h4,
.box-blue h5,
.box-blue h6,
.box-brown h1,
.box-brown h2,
.box-brown h3,
.box-brown h4,
.box-brown h5,
.box-brown h6,
.box-dark-blue h1,
.box-dark-blue h2,
.box-dark-blue h3,
.box-dark-blue h4,
.box-dark-blue h5,
.box-dark-blue h6,
.box-dark-red h1,
.box-dark-red h2,
.box-dark-red h3,
.box-dark-red h4,
.box-dark-red h5,
.box-dark-red h6,
.box-green h1,
.box-green h2,
.box-green h3,
.box-green h4,
.box-green h5,
.box-green h6,
.box-light-green h1,
.box-light-green h2,
.box-light-green h3,
.box-light-green h4,
.box-light-green h5,
.box-light-green h6,
.box-orange h1,
.box-orange h2,
.box-orange h3,
.box-orange h4,
.box-orange h5,
.box-orange h6,
.box-purple h1,
.box-purple h2,
.box-purple h3,
.box-purple h4,
.box-purple h5,
.box-purple h6,
.box-red h1,
.box-red h2,
.box-red h3,
.box-red h4,
.box-red h5,
.box-red h6,
.box-teal h1,
.box-teal h2,
.box-teal h3,
.box-teal h4,
.box-teal h5,
.box-teal h6,
.box-yellow h1,
.box-yellow h2,
.box-yellow h3,
.box-yellow h4,
.box-yellow h5,
.box-yellow h6,
.box-image h1,
.box-image h2,
.box-image h3,
.box-image h4,
.box-image h5,
.box-image h6,
.cta-wrapper h1,
.cta-wrapper h2,
.cta-wrapper h3,
.cta-wrapper h4,
.cta-wrapper h5,
.cta-wrapper h6,
.brush-bg h1,
.brush-bg h2,
.brush-bg h3,
.brush-bg h4,
.brush-bg h5,
.brush-bg h6,
.parallax-container h1,
.parallax-container h2,
.parallax-container h3,
.parallax-container h4,
.parallax-container h5,
.parallax-container h6,
.animated-wrapper h1,
.animated-wrapper h2,
.animated-wrapper h3,
.animated-wrapper h4,
.animated-wrapper h5,
.animated-wrapper h6,
.icon-column.box-default h1,
.icon-column.box-default h2,
.icon-column.box-default h3,
.icon-column.box-default h4,
.icon-column.box-default h5,
.icon-column.box-default h6,
.custom-search-head h1,
.custom-search-head h2,
.custom-search-head h3,
.custom-search-head h4,
.custom-search-head h5,
.custom-search-head h6,
.primary-bg h1,
.primary-bg h2,
.primary-bg h3,
.primary-bg h4,
.primary-bg h5,
.primary-bg h6,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: #fff;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-weight: 300;
}
h1 {
    font-size: 48px;
    line-height: 60px;
}
h2 {
    font-size: 38px;
    line-height: 52px;
}
h3 {
    font-size: 30px;
    line-height: 46px;
}
h4 {
    font-size: 24px;
    line-height: 36px;
}
h5 {
    font-size: 18px;
    line-height: 30px;
}
h6 {
    font-size: 14px;
    line-height: 24px;
}
.heading {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
p {
    margin-bottom: 20px;
}
.heading p {
    margin-bottom: 0;
}
label {
    color: #636363;
}
ul,
ol {
    padding: 0 0 0 13px;
    margin-top: 0;
    margin-bottom: 10px;
}
ul li,
ol li {
    padding-bottom: 5px;
}
.list-icons {
    padding-left: 0;
    list-style: none;
}
.list-icons li i {
    margin-right: 3px;
}
.link-list li a {
    color: #636363;
}
footer .link-list li a,
footer .link-list-2 li a,
footer .link-list-3 li a,
footer .link-list-4 li a {
    color: #bababa;
}
.alignleft {
    float: left;
    margin: 10px 20px 20px 0;
}
.alignright {
    float: right;
    margin: 10px 0 20px 20px;
}
.demo-box button,
.demo-box a,
.demo-box input {
    margin-bottom: 4px;
    display: inline-block;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
pre {
    background: #fbfcfd;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 20px;
}
textarea {
    resize: none;
}

/*
* === Images ===
*/
.img-responsive {
    display: inline-block;
}
.img-fullwidth {
    display: block;
    width: 100%;
    height: auto;
}
.img-rounded {
    border-radius: 4px;
}
.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding: 10px;
}
.thumbnail {
    display: block;
    padding: 0;
    margin-bottom: 30px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 2px;
    padding: 10px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail-gray {
    background-color: #d6d6d6;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-black {
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-aqua {
    background-color: #27d7e7;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-blue {
    background-color: #3498db;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-brown {
    background-color: #9c8061;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-dark-blue {
    background-color: #4765a0;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-dark-red {
    background-color: #a10f2b;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-green {
    background-color: #72c02c;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-light-green {
    background-color: #79d5b3;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-orange {
    background-color: #f7931d;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-purple {
    background-color: #9b6bcc;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-red {
    background-color: #e74c3c;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-teal {
    background-color: #18ba9b;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail-yellow {
    background-color: #ffcc00;
    border-color: rgba(0, 0, 0, 0.0991);
}
.thumbnail .caption {
    padding: 20px 0 5px 0;
    color: #616161;
    font-size: 13px;
    line-height: 24px;
}
.thumbnail-gray .caption {
    color: #636363;
}
.thumbnail-black .caption {
    color: #b2b2b2;
}
.thumbnail-primary .caption,
.thumbnail-aqua .caption,
.thumbnail-blue .caption,
.thumbnail-brown .caption,
.thumbnail-dark-blue .caption,
.thumbnail-dark-red .caption,
.thumbnail-green .caption,
.thumbnail-light-green .caption,
.thumbnail-orange .caption,
.thumbnail-purple .caption,
.thumbnail-red .caption,
.thumbnail-teal .caption,
.thumbnail-yellow .caption {
    color: #fff;
}
.thumbnail-black h5 {
    color: #fff;
}
.thumbnail-primary h5,
.thumbnail-grey h5,
.thumbnail-aqua h5,
.thumbnail-blue h5,
.thumbnail-brown h5,
.thumbnail-dark-blue h5,
.thumbnail-dark-red h5,
.thumbnail-green h5,
.thumbnail-light-green h5,
.thumbnail-orange h5,
.thumbnail-purple h5,
.thumbnail-red h5,
.thumbnail-teal h5,
.thumbnail-yellow h5 {
    color: #2b2b2b;
}

/*
* === Highlight ===
*/
.highlight {
    padding: 5px 10px;
}
.highlight.default {
    background: #23262a;
    color: #fff;
}
.highlight.primary,
.highlight.aqua,
.highlight.blue,
.highlight.brown,
.highlight.dark-blue,
.highlight.dark-red,
.highlight.green,
.highlight.light-green,
.highlight.orange,
.highlight.purple,
.highlight.red,
.highlight.teal,
.highlight.yellow {
    color: #fff;
}

/*
* === Dropcaps ===
*/
.dropcaps {
    float: left;
    margin: 5px 20px 10px 0;
    text-transform: uppercase;
}
.drop-default,
.drop-primary {
    font-size: 46px;
    line-height: 46px;
    font-weight: 700;
}
.drop-circle,
.drop-square {
    width: 45px;
    height: 45px;
    font-size: 24px;
    line-height: 42px;
    color: #fff;
    padding-left: 2px;
    text-align: center;
    background: #23262a;
    border-radius: 50%;
    overflow: hidden;
}
.drop-square {
    border-radius: 0;
}
.drop-primary.drop-circle,
.drop-primary.drop-square {
    color: #fff;
}

/*
* === Blockquote ===
*/
blockquote {
    position: relative;
    border: none;
    padding: 0 0 0 30px;
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 32px;
}
blockquote:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    line-height: 22px;
}
blockquote.centered {
    border: none;
    padding: 25px 0 0 0;
    text-align: center;
}
blockquote.centered:before {
    left: 50%;
    margin-left: -10px;
}
blockquote.pull-right {
    border: none;
    padding: 0 30px 0 0;
    text-align: right;
}
blockquote.pull-right:before {
    content: "\f10e";
    font-family: 'FontAwesome';
    left: 100%;
}

/*
* === Alert ===
*/
.alert {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 0;
}
.alert .alert-link {
    color: #66512c;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #f7efc4;
    border-color: #fbe5b9;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-success hr,
.alert-info hr,
.alert-warning hr,
.alert-danger hr {
    border-top-color: #fff;
}
.alert-warning .alert-link {
    color: #8a6d3b;
}
.alert-danger .alert-link {
    color: #a94442;
}
.alert-success .alert-link {
    color: #3c763d;
}
.alert-info .alert-link {
    color: #31708f;
}
.alert .close {
    top: 0;
    right: 0;
}

/*
* === Modal ===
*/
.modal-content {
    border-radius: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px 10px 20px;
}
.modal-body {
    padding: 10px 20px 0 20px;
}

/*
* === Megamenu ===
*/
.megamenu .dropdown.megamenu-fw {
    position: static;
}
.megamenu .container {
    position: relative;
}
.megamenu .megamenu-fw .dropdown-menu {
    left: auto;
}
.megamenu .megamenu-content {
    padding: 15px;
    width: 100% !important;
}
.megamenu .megamenu-content .title {
    margin-top: 0;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
}

/*
* === Navbar ===
*/
nav.navbar {
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
}
nav.navbar.top-nav-collapse {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.navbar-brand {
    margin-top: 3px;
}
nav.navbar ul.nav > li > a {
    color: #3f3f3f;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase !important;
    background-color: transparent !important;
}
nav.navbar ul.nav li.megamenu-fw > a:hover,
nav.navbar ul.nav li.megamenu-fw > a:focus,
nav.navbar ul.nav li.active > a:hover,
nav.navbar ul.nav li.active > a:focus,
nav.navbar ul.nav li.active > a {
    background-color: transparent;
}
nav.navbar .navbar-toggle {
    background-color: #fff !important;
    border: none;
    padding: 0;
    font-size: 18px;
    position: relative;
    top: 5px;
}
nav.navbar ul.nav .dropdown-menu .dropdown-menu {
    top: 0;
    left: 100%;
}
nav.navbar ul.nav ul.dropdown-menu > li > a {
    white-space: normal;
}
ul.menu-col {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.menu-col li a {
    color: #6f6f6f;
}
ul.menu-col li a:hover,
ul.menu-col li a:focus {
    text-decoration: none;
}

/*
* === Navbar Full ===
*/
nav.navbar-full {
    padding-bottom: 10px;
    padding-top: 10px;
}
nav.navbar-full .navbar-header {
    display: block;
    width: 100%;
}
nav.navbar-full .navbar-brand {
    margin-top: 5px;
}
nav.navbar-full .navbar-toggle {
    display: inline-block;
    margin-right: 0;
    position: relative;
    z-index: 10;
    top: 6px;
    font-size: 26px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
nav.navbar-full .navbar-toggle.fixed {
    position: fixed;
    right: 50px;
    top: 30px;
    padding: 0;
    padding-left: 2px;
}
nav.navbar-full .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    padding: 0;
    display: none !important;
    z-index: 9;
}
nav.navbar-full .navbar-collapse.on {
    display: block !important;
}
nav.navbar-full .navbar-collapse .nav-full {
    overflow: auto;
}
nav.navbar-full .navbar-collapse .wrap-full-menu {
    display: table-cell;
    vertical-align: middle;
    overflow: auto;
}
nav.navbar-full .navbar-collapse .nav-full::-webkit-scrollbar {
    width: 0;
}
nav.navbar-full .navbar-collapse .nav-full::-moz-scrollbar {
    width: 0;
}
nav.navbar-full .navbar-collapse .nav-full::-ms-scrollbar {
    width: 0;
}
nav.navbar-full .navbar-collapse .nav-full::-o-scrollbar {
    width: 0;
}
nav.navbar-full .navbar-collapse ul.nav {
    display: block;
    width: 100%;
    overflow: auto;
}
nav.navbar-full .navbar-collapse ul.nav a:hover,
nav.navbar-full .navbar-collapse ul.nav a:focus,
nav.navbar-full .navbar-collapse ul.nav a {
    background-color: transparent;
}
nav.navbar-full .navbar-collapse ul.nav > li {
    float: none;
    display: block;
    text-align: center;
}
nav.navbar-full .navbar-collapse ul.nav > li > a {
    display: table;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 10px 15px;
}

/*
* === Side Menu ===
*/
body {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
body.on-side {
    margin-left: -280px;
}
.side {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -280px;
    width: 280px;
    padding: 25px 30px;
    height: 100%;
    display: block;
    background-color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9;
}
.side.on {
    right: 0;
}
.side .close-side {
    float: right;
    color: #fff;
    position: relative;
    z-index: 2;
    font-size: 16px;
}
.side .widget {
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.side .widget .title {
    color: #fff;
    margin-bottom: 15px;
}
.side .widget ul.link {
    padding: 0;
    margin: 0;
    list-style: none;
}
.side .widget ul.link li a {
    color: #9f9f9f;
    letter-spacing: 1px;
}
.side .widget ul.link li a:focus,
.side .widget ul.link li a:hover {
    color: #fff;
    text-decoration: none;
}

/*
* === Navbar Tabbed ===
*/
nav.navbar .tab-nav {
    padding-right: 0;
    border-right: solid 1px #f0f0f0;
}
nav.navbar .tab-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
nav.navbar .tab-nav ul li a {
    display: block;
    text-align: left !important;
    padding: 10px 15px;
    border-bottom: solid 1px #efefef;
    color: #6f6f6f;
}
nav.navbar .tab-nav ul li a .fa {
    margin-right: 5px;
}
nav.navbar .tab-nav ul li a:before {
    float: right;
    font-family: 'FontAwesome';
    content: "\f0da";
}
nav.navbar .tab-nav ul li.active a:hover,
nav.navbar .tab-nav ul li.active a:focus,
nav.navbar .tab-nav ul li.active a {
    color: #3f3f3f !important;
    background-color: #f5f5f5 !important;
    text-decoration: none;
}
nav.navbar .tab-nav ul li a:hover {
    text-decoration: none;
}
nav.navbar .wrap-tabs {
    padding-left: 0;
    margin-left: -1px;
    border-left: solid 1px #f0f0f0;
}
nav.navbar .wrap-tabs .tab-content {
    padding: 25px 30px;
    display: none;
}
nav.navbar .wrap-tabs .tab-content.in {
    display: block;
}

/*
* === Share ===
*/
nav.navbar .share {
    padding: 0 30px;
    margin-bottom: 30px;
}
nav.navbar .share ul {
    display: inline-block;
    padding: 0;
    margin: 0 0 -7px 0;
    list-style: none;
}
nav.navbar .share ul > li {
    float: left;
    display: block;
    margin-right: 5px;
}
nav.navbar .share ul > li > a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 35px;
    height: 35px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #cfcfcf;
    color: #fff;
}

/*
* === Navlink right ===
*/
.navlink-right {
    display: inline-block;
    position: relative;
    z-index: 3;
    float: right;
    margin: 20px 0 0 0;
    padding: 0 0 0 5px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
nav.navbar.menu-center .navlink-right {
    position: absolute;
    right: 15px;
}
.shopping-cart {
    float: left;
}
.navlink-right button.btn-navlink {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 34px;
}
.navlink-right button.btn-navlink .fa-shopping-basket {
    padding-right: 8px;
}
.navlink-right span.cart-item {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -2px;
}

/*
* === Navbar Responsive ===
*/
@media (min-width: 1024px) and (max-width: 1400px) {
    body.wrap-nav-sidebar .wrapper .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (min-width: 1024px) {
    /*
    * General Navbar
    */
    nav.navbar ul.nav .dropdown-menu {
        width: 220px;
        left: 0;
    }
    nav.navbar-center ul.nav.navbar-right .dropdown-menu .dropdown-menu {
        left: -220px;
    }
    nav.navbar ul.nav > li > a {
        padding: 30px 20px 25px 20px;
    }
    nav.navbar li.dropdown ul.dropdown-menu {
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        padding: 0 20px;
        border: none;
        border-top: solid;
    }
    nav.navbar li.dropdown ul.dropdown-menu > li a:hover,
    nav.navbar li.dropdown ul.dropdown-menu > li a:focus,
    nav.navbar li.dropdown ul.dropdown-menu > li a:active {
        background-color: transparent;
    }
    nav.navbar li.dropdown ul.dropdown-menu > li a {
        padding: 8px 0 6px 0;
        font-size: 12px;
    }
    nav.navbar-center ul.navbar-right li.dropdown ul.dropdown-menu li a {
        text-align: right;
    }
    nav.navbar li.dropdown ul.dropdown-menu li.dropdown ul {
        right: 20px;
    }
    nav.navbar li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
        font-family: 'FontAwesome';
        float: right;
        content: "\f105";
    }
    nav.navbar-center ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before {
        font-family: 'FontAwesome';
        float: left;
        content: "\f104";
    }
    nav.navbar li.dropdown ul.dropdown-menu ul.dropdown-menu {
        top: -5px;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content {
        padding: 0 15px;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content > li {
        padding: 25px 0 10px;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .col-menu {
        padding: 0 30px;
        margin: 0 -0.5px;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .col-menu:first-child {
        border-left: none;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .col-menu:last-child {
        border-right: none;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .content {
        display: none;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
        text-align: left;
        padding: 8px 0 5px 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
    }
    nav.navbar.megamenu.on ul.dropdown-menu.megamenu-content .content {
        display: block !important;
        height: auto !important;
    }

    /*
    * Menu Center
    */
    nav.navbar.menu-center .container {
        position: relative;
    }
    nav.navbar.menu-center ul.nav.nav-center {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    nav.navbar.menu-center .navbar-header {
        position: absolute;
    }

    /*
    * Navbar Brand top
    */
    nav.navbar-brand-top .navbar-header {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav.navbar-brand-top ul.nav > li.dropdown > ul.dropdown-menu {
        margin-top: 2px;
    }
    nav.navbar-brand-top ul.nav > li.dropdown.megamenu-fw > ul.dropdown-menu {
        margin-top: 0;
    }
    nav.navbar-brand-top .navbar-header .navbar-brand {
        display: inline-block;
        float: none;
        margin: 15px 0 0 0;
    }
    nav.navbar-brand-top .navbar-collapse {
        text-align: center;
    }
    nav.navbar-brand-top ul.nav {
        display: inline-block;
        float: none;
        margin: 0 0 -5px 0;
    }

    /*
    * Navbar Center
    */
    nav.navbar-center .navbar-header {
        display: block;
        width: 100%;
        position: absolute;
        text-align: center;
        top: 0;
        left: 0;
    }
    nav.navbar-center .navbar-brand {
        display: inline-block;
        float: none;
        margin: 3px 0 0 2px !important;
    }
    nav.navbar-center .navbar-collapse {
        text-align: center;
        display: inline-block;
        padding-left: 0;
        padding-right: 0;
    }
    nav.navbar-center ul.nav > li.dropdown > ul.dropdown-menu {
        margin-top: 2px;
    }
    nav.navbar-center ul.nav > li.dropdown.megamenu-fw > ul.dropdown-menu {
        margin-top: 0;
    }
    nav.navbar-center .navbar-collapse .col-half {
        width: 50%;
        float: left;
        display: block;
    }
    nav.navbar-center .navbar-collapse .col-half.left {
        text-align: right;
        padding-right: 100px;
    }
    nav.navbar-center .navbar-collapse .col-half.right {
        text-align: left;
        padding-left: 100px;
    }
    nav.navbar-center ul.nav {
        float: none !important;
        margin-bottom: -5px !important;
        display: inline-block !important;
    }
    nav.navbar-center ul.nav.navbar-right {
        margin: 0;
    }
    nav.navbar-center.center-side .navbar-collapse .col-half.left {
        text-align: left;
        padding-right: 100px;
    }
    nav.navbar-center.center-side .navbar-collapse .col-half.right {
        text-align: right;
        padding-left: 100px;
    }

    /*
    * Navbar Sidebar
    */
    body.wrap-nav-sidebar {
        padding-left: 0;
    }
    nav.navbar-sidebar {
        position: fixed;
        width: 260px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden !important;
        left: 0;
        padding: 0 !important;
        z-index: 999;
    }
    nav.navbar-sidebar .scroller {
        width: 280px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    nav.navbar-sidebar .container-fluid,
    nav.navbar-sidebar .container {
        padding: 0 !important;
    }
    nav.navbar-sidebar .navbar-header {
        float: none;
        display: block;
        width: 260px;
        padding: 95px 40px 20px 25px;
        margin: 0 !important;
    }
    nav.navbar-sidebar .navbar-collapse {
        padding: 0 !important;
        width: 260px;
    }
    nav.navbar-sidebar ul.nav {
        float: none;
        display: block;
        width: 100%;
        padding: 20px 40px 25px 40px !important;
        margin: 0;
    }
    nav.navbar-sidebar ul.nav li {
        float: none !important;
    }
    nav.navbar-sidebar ul.nav > li > a {
        font-weight: 700;
        padding: 10px 0 10px 0;
        font-size: 16px;
    }
    nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu {
        left: 100%;
        top: 0;
        position: relative !important;
        left: 0 !important;
        width: 100% !important;
        height: auto !important;
        background-color: transparent;
        border: none !important;
        padding: 0;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
    }
    nav.navbar-sidebar ul.nav > li.dropdown > ul.dropdown-menu {
        margin-bottom: 0;
    }
    nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu {
        padding-left: 0;
        float: none;
        margin-bottom: 0;
    }
    nav.navbar-default.navbar-sidebar li.dropdown ul.dropdown-menu li > a {
        border: none !important;
        color: #7a7a7a;
        padding: 5px 0;
    }
    nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu ul.dropdown-menu {
        margin-top: 0;
    }
    nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li.dropdown > a:before {
        font-family: 'FontAwesome';
        content: "\f067";
        float: right;
        font-size: 12px;
    }
    nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a:before {
        content: "\f068";
    }
    nav.navbar-sidebar.megamenu ul.dropdown-menu.megamenu-content > li {
        padding: 0 !important;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu {
        display: block;
        float: none !important;
        padding: 10px 0;
        margin: 0;
        width: 100%;
        border-right: none;
        border-left: none;
    }
    nav.navbar-sidebar.navbar.megamenu ul.dropdown-menu.megamenu-content .col-menu {
        border: none !important;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .col-menu {
        border-left: solid 1px #efefef;
        border-right: solid 1px #efefef;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu .title {
        padding: 10px 0 0 0;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0px;
        margin-bottom: 0;
        cursor: pointer;
        color: #6f6f6f;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu .title:before {
        font-family: 'FontAwesome';
        content: "\f067";
        float: right;
        font-size: 12px;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title:before {
        content: "\f068";
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu {
        border: none;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu .content {
        padding: 0 0 0 15px;
    }
    nav.navbar-sidebar .dropdown .megamenu-content .col-menu ul.menu-col li a {
        padding: 0 !important;
    }

    /*
    * Navbar Full
    */
    nav.navbar-full .navbar-brand {
        padding-top: 0;
    }

    /*
    * Tabs
    */
    nav.navbar .wrap-tabs .tab-content {
        margin-right: -2px;
    }
}
@media (max-width: 992px) {
    #warpper {
        overflow-x: hidden;
    }
    .wrap-nav-sidebar #warpper {
        padding: 0 !important;
    }

    /*
    * Navbar Responsive
    */
    nav.navbar .navbar-brand {
        display: inline-block;
        float: none !important;
        margin: 0 !important;
        padding-top: 5px;
    }
    nav.navbar .navbar-header {
        float: none;
        display: block;
        text-align: center;
        padding: 10px 30px;
    }
    nav.navbar .navbar-toggle {
        display: inline-block;
        float: left;
        margin-right: -200px;
        margin-top: 10px;
    }
    nav.navbar .navbar-collapse {
        border: none;
        margin-bottom: 0;
    }
    nav.navbar.no-full .navbar-collapse {
        max-height: 425px;
        overflow-y: auto !important;
    }
    nav.navbar .navbar-collapse.collapse {
        display: none!important;
    }
    nav.navbar .navbar-collapse.collapse.in {
        display: block!important;
    }
    nav.navbar .navbar-nav {
        float: none!important;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0px -15px;
    }
    nav.navbar .navbar-nav > li {
        float: none;
    }
    nav.navbar li.dropdown a.dropdown-toggle:before {
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 16px;
        margin-left: 10px;
    }
    nav.navbar li.dropdown.on > a.dropdown-toggle:before {
        content: "\f107";
    }
    nav.navbar .navbar-nav > li > a {
        display: block;
        width: 100%;
        padding: 10px 0;
        border-top: solid 1px #555;
        margin-bottom: -1px;
    }
    nav.navbar .navbar-nav > li:first-child > a {
        border-top: none;
    }
    nav.navbar ul.navbar-nav.navbar-left > li:last-child > ul.dropdown-menu {
        border-bottom: solid 1px #e0e0e0;
    }
    nav.navbar ul.nav li.dropdown li a.dropdown-toggle {
        float: none !important;
        position: relative;
        display: block;
        width: 100%;
    }
    nav.navbar ul.nav li.dropdown ul.dropdown-menu {
        width: 100%;
        position: relative !important;
        top: 5px;
        background-color: transparent;
        float: none;
        border: none;
        padding: 0 0 0 15px !important;
        margin: 0 0 -1px 0 !important;
        -moz-box-shadow: 0px 0px 0px;
        -webkit-box-shadow: 0px 0px 0px;
        -o-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
        -moz-border-radius: 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px;
        -o-border-radius: 0px 0px 0px;
        border-radius: 0px 0px 0px;
        border-top: solid 1px #555;
    }
    nav.navbar ul.nav li.dropdown ul.dropdown-menu > li > a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
    nav.navbar ul.nav ul.dropdown-menu li a:hover,
    nav.navbar ul.nav ul.dropdown-menu li a:focus {
        background-color: transparent;
    }
    nav.navbar ul.nav ul.dropdown-menu ul.dropdown-menu {
        float: none !important;
        left: 0;
        padding: 0 0 0 15px;
        position: relative;
        background: transparent;
        width: 100%;
    }
    nav.navbar ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu {
        display: inline-block;
        margin-top: -10px;
    }
    nav.navbar li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:after {
        display: none;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content li.menu-grid {
        padding: 25px 15px 25px 0;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content li.content-grid .row {
        margin: 0 -25px 0 -30px;
    }
    nav.navbar.megamenu ul.dropdown-menu.megamenu-content .content-grid {
        padding: 25px 15px 0 0;
    }
    nav.navbar.megamenu ul.dropdown-menu.content-form {
        width: 100%;
    }
    nav.navbar.megamenu ul.dropdown-menu.content-form > li {
        padding: 25px 15px 0 0;
    }
    nav.navbar.megamenu ul.dropdown-menu.content-form > li .row {
        margin: 0 -25px 0 -30px;
    }
    nav.navbar .dropdown .megamenu-content > li {
        position: relative;
        top: 10px;
    }
    nav.navbar .dropdown .megamenu-content .col-menu {
        border: none !important;
    }
    nav.navbar .dropdown .megamenu-content .col-menu .title {
        padding: 0 15px 10px 0;
        line-height: 24px;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0px;
        margin-bottom: 0;
        cursor: pointer;
        border-bottom: solid 1px #555;
    }
    nav.navbar .dropdown .megamenu-content .col-menu ul {
        margin-top: -10px;
        margin-bottom: 10px;
        border-bottom: solid 1px #555;
    }
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a {
        display: block;
        width: 100%;
        padding: 6px 0;
    }
    nav.navbar .dropdown .megamenu-content .col-menu .title:before {
        font-family: 'FontAwesome';
        content: "\f105";
        float: right;
        font-size: 12px;
        margin-left: 10px;
        position: relative;
        right: -15px;
    }
    nav.navbar .dropdown .megamenu-content .col-menu:last-child .title {
        border-bottom: none;
    }
    nav.navbar .dropdown .megamenu-content .col-menu.on:last-child {
        margin-bottom: -5px;
    }
    nav.navbar .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #555;
    }
    nav.navbar .dropdown .megamenu-content .col-menu:last-child ul.menu-col li:last-child a {
        border-bottom: none;
    }
    nav.navbar .dropdown .megamenu-content .col-menu.on .title:before {
        content: "\f107";
    }
    nav.navbar .dropdown .megamenu-content .col-menu .content {
        padding: 0 0 0 15px;
    }
    .navlink-right {
        position: absolute;
        right: 50px;
    }

    /*
    * Navbar Center
    */
    nav.navbar-center .navbar-collapse {
        display: block;
    }
    nav.navbar-center ul.nav {
        margin-bottom: 0px !important;
    }
    nav.navbar-center .navbar-collapse .col-half {
        width: 100%;
        float: none;
        display: block;
    }
    nav.navbar-center .navbar-collapse .col-half.left {
        margin-bottom: 0;
    }
    nav.navbar-center .navbar-collapse .col-half.right ul.nav > li:first-child > a {
        border-top: solid 1px #555 !important;
    }
    nav.navbar-center.navbar-white .navbar-collapse .col-half.right ul.nav > li:first-child > a {
        border-top: solid 1px #cfcfcf !important;
    }
    .megamenu .megamenu-content {
        padding: 0;
    }
    .megamenu .megamenu-content .col-menu {
        padding-bottom: 0;
    }
    .megamenu .megamenu-content .title {
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0;
        font-weight: normal;
    }
    .megamenu .megamenu-content .content {
        display: none;
    }

    /*
    * Navbar full Responsive
    */
    nav.navbar-full ul.nav {
        margin-left: 0;
    }
    nav.navbar-full ul.nav > li > a {
        border: none !important;
    }
    nav.navbar-full .navbar-brand {
        float: left !important;
        padding-left: 0;
    }
    nav.navbar-full .navbar-toggle {
        display: inline-block;
        float: right;
        margin-right: 0;
        margin-top: 10px;
    }
    nav.navbar-full .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*
    * Menu Center
    */
    nav.navbar.menu-center .navlink-right {
        right: 0;
    }

    /*
    * Tabbed
    */
    nav.navbar .megamenu-content.tabbed {
        padding-left: 0 !important;
    }
    nav.navbar .tabbed > li {
        padding: 25px 0;
        margin-left: -15px !important;
    }
    nav.navbar.navbar-sidebar .fixed-network {
        padding: 0 15px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    /*
    * Navbar White
    */
    nav.navbar.navbar-white .navbar-nav > li > a {
        border-top: solid 1px #cfcfcf;
    }
    nav.navbar.navbar-white .navbar-nav > li:first-child > a {
        border-top: none;
    }
    nav.navbar.navbar-white ul.nav li.dropdown ul.dropdown-menu {
        border-top: solid 1px #cfcfcf;
    }
    nav.navbar.navbar-white ul.nav li.dropdown ul.dropdown-menu li:first-child > a {
        border-top: none;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content {
        border-bottom: solid 1px #cfcfcf;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .row {
        position: relative;
        top: -10px;
        margin-bottom: -5px;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .col-menu .title {
        border-bottom: solid 1px #cfcfcf;
        padding: 10px 15px 10px 0;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .col-menu:last-child .title {
        border-bottom: none;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .col-menu.on:last-child .title {
        border-bottom: solid 1px #cfcfcf;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content .col-menu.on:last-child {
        margin-bottom: 0;
    }
    nav.navbar.navbar-center.navbar-white .dropdown .megamenu-content .col-menu.on:last-child {
        margin-bottom: -1px;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content ul.menu-col {
        border-bottom: solid 1px #cfcfcf;
        position: relative;
        top: 10px;
    }
    nav.navbar.navbar-white .dropdown .megamenu-content ul.menu-col:last-child > li > a {
        border-bottom: none;
    }
    nav.navbar-center.navbar-white .navbar-collapse .col-half.right ul.nav > li:first-child > a {
        border-top: solid 1px #cfcfcf;
    }
}
@media (max-width: 767px) {
    nav.navbar .navbar-header {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -1px;
        position: relative;
    }
    nav.navbar .navbar-nav {
        padding-left: 15px;
        padding-right: 15px;
    }
    nav.navbar-full .navbar-collapse {
        left: 15px;
    }
    nav.navbar-full .navbar-toggle {
        margin-right: -15px;
    }
    nav.navbar-full ul.nav > li > a {
        font-size: 18px !important;
        line-height: 24px !important;
        padding: 5px 10px !important;
    }
    nav.navbar-full .navbar-toggle.fixed {
        right: 30px;
        top: 10px;
    }

    /*
    * Tabbed
    */
    nav.navbar .tabbed .tab-nav {
        padding-right: 15px;
    }
    nav.navbar .tabbed .tab-nav > ul {
        display: inline-block;
        margin-bottom: -7px;
    }
    nav.navbar .tabbed .tab-nav > ul > li {
        float: left;
        display: block;
    }
    nav.navbar .tabbed .tab-nav > ul > li > a {
        display: block;
        border-top: solid 1px #efefef;
        border-right: solid 1px #efefef;
        border-bottom: none;
    }
    nav.navbar .tabbed .tab-nav > ul > li:first-child > a {
        border-left: solid 1px #efefef;
    }
    nav.navbar .tabbed .tab-nav > ul > li > a:before {
        display: none;
    }
    nav.navbar .tabbed .wrap-tabs {
        padding-left: 15px;
    }
    nav.navbar.navbar-sidebar .fixed-network {
        padding: 0;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .navlink-right {
        right: 15px;
    }
}
@media (min-width: 480px) and (max-width: 640px) {
    nav.navbar-full ul.nav {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    nav.navbar.no-full .navbar-collapse {
        max-height: 250px !important;
    }
}

/*
* === Search ===
*/
.search-wrapper {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
}
.search-wrapper input.form-search {
    display: block;
    width: 100%;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
    font-size: 18px;
    height: 80px;
    padding: 10px 20px;
    background: none;
    border: none;
    color: #f3f3f3;
}
.search-wrapper input:focus {
    outline: none;
}
.form-search::-moz-placeholder {
    color: #c1c1c1;
    opacity: 1;
}
.form-search:-ms-input-placeholder {
    color: #c1c1c1;
}
.form-search::-webkit-input-placeholder {
    color: #c1c1c1;
}
.close-form {
    position: relative;
    display: none;
    z-index: 4;
}
.cart-dropdown {
    margin-top: 25px;
    width: 220px;
    left: -160px;
    padding: 20px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-top: 3px solid;
    z-index: 3;
}
.cart-dropdown ul li a,
.cart-dropdown ul li a:hover,
.cart-dropdown ul li a:focus,
.cart-dropdown ul li a:active {
    border: none;
}
.cart-list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.parameter-product ul.cart-list {
    background-color: #fff;
}
.cart-list li {
    float: left;
    list-style: none;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: #b3b3b3;
    border-bottom: 1px solid #424242;
}
.cart-list li a {
    display: inline;
}
.cart-thumb {
    float: left;
    display: inline-block;
    margin: 5px 15px 0 0;
}
.cart-list li h6 {
    margin: 0;
}
.cart-list li h6 a {
    font-weight: 700;
    color: #555;
}

/*
* === Navbar Dark ===
*/
nav.navbar.navbar-dark {
    background-color: #222222;
}
nav.navbar.navbar-dark .navbar-collapse .wrap-full-menu,
nav.navbar.navbar-dark.top-nav-collapse {
    background-color: rgba(26, 26, 26, 0.99);
}
nav.navbar.navbar-dark .navbar-toggle {
    background: #222222 !important;
    color: #fff !important;
    padding: 0;
}
nav.navbar.navbar-dark ul.nav > li > a {
    color: #f3f3f3;
}
nav.navbar.navbar-dark li.dropdown ul.dropdown-menu {
    background: #2a2a2a;
}
nav.navbar.navbar-dark li.dropdown ul.dropdown-menu li > a {
    color: #c1c1c1;
    border-top: 1px solid #494949;
}
nav.navbar.navbar-dark li.dropdown ul.dropdown-menu li:first-child > a {
    border-top: 1px solid transparent;
}
nav.navbar.navbar-dark.megamenu ul.dropdown-menu.megamenu-content .title {
    color: #ececec;
    margin-bottom: 10px;
}
nav.navbar.navbar-dark.megamenu ul.dropdown-menu.megamenu-content .col-menu {
    border-left: solid 1px #494949;
    border-right: solid 1px #494949;
}
nav.navbar.navbar-dark.megamenu ul.dropdown-menu.megamenu-content .col-menu:first-child {
    border-left: none;
}
nav.navbar.navbar-dark.megamenu ul.dropdown-menu.megamenu-content .col-menu:last-child {
    border-right: none;
}
nav.navbar.navbar-dark .cart-dropdown {
    background: #2a2a2a;
}
nav.navbar.navbar-dark .search-wrapper {
    background: #222222;
}
nav.navbar.navbar-dark.navbar-full.top-nav-collapse .navbar-collapse .wrap-full-menu,
nav.navbar.navbar-dark.navbar-full .navbar-collapse .wrap-full-menu,
nav.navbar.navbar-dark.navbar-full .navbar-collapse,
nav.navbar.navbar-dark.navbar-full {
    background-color: #222222 !important;
}

/*
* === Navbar White ===
*/
nav.navbar.navbar-white {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.23);
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.23);
}
nav.navbar-sidebar.navbar-white {
    overflow: hidden;
}
nav.navbar.navbar-white .navbar-collapse .wrap-full-menu,
nav.navbar.navbar-white.top-nav-collapse {
    background-color: rgba(255, 255, 255, 0.99);
}
nav.navbar.navbar-white li.dropdown ul.dropdown-menu {
    background: #fff;
    border-left: solid 1px #f4f4f4;
    border-bottom: solid 1px #f4f4f4;
    border-right: solid 1px #f4f4f4;
}
nav.navbar.navbar-white li.dropdown ul.dropdown-menu li > a {
    border-top: 1px solid #f4f4f4;
}
nav.navbar.navbar-white .cart-dropdown {
    background: #fff;
    border-left: solid 1px #f4f4f4 !important;
    border-bottom: solid 1px #f4f4f4 !important;
    border-right: solid 1px #f4f4f4 !important;
}
nav.navbar.navbar-white .cart-list li h6 a {
    color: #292929;
}
nav.navbar.navbar-white .cart-list li {
    border-bottom: 1px solid #f4f4f4;
}
nav.navbar.navbar-white .cart-list li {
    color: #636363;
}
nav.navbar.navbar-white .cart-dropdown .btn-bordered {
    border: solid 1px #f4f4f4 !important;
}
nav.navbar.navbar-white .search-wrapper {
    background: #fff;
}
nav.navbar.navbar-white .search-wrapper input.form-search {
    color: #636363;
}

/*
* === Breadcrumb ===
*/
.jumbotron {
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-bottom: 3px double #d4d4d4;
}
.jumbotron p {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}
.container .jumbotron,
.container-fluid .jumbotron {
    border-radius: 2px;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 20px;
    list-style: none;
    background: none;
    border-radius: 0;
}
.breadcrumb > li {
    font-size: 13px;
}
.breadcrumb > li a {
    color: #fff;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #fff;
    content: "|";
}

/*
* === Tabs ===
*/
.tab-default .nav-tabs,
.tab-icons .nav-tabs {
    border-bottom: none;
}
.tab-secondary .nav-tabs {
    border-bottom: 5px solid;
}
.tab-icons .nav-tabs {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.tab-secondary .nav-tabs > li {
    padding: 0;
}
.tab-icons .nav-tabs li {
    float: none;
    display: inline-block;
}
.nav-tabs > li > a {
    margin-right: 5px;
    border-radius: 0;
    font-weight: 700;
    padding: 10px 24px;
    font-size: 14px;
    border: 1px solid #d4d4d4;
    color: #2b2b2b;
    float: left;
    background-color: #fff;
}
.tab-icons .nav-tabs > li > a {
    padding: 30px 50px;
    margin: 0 5px;
    font-size: 32px;
}
.tab-secondary .nav-tabs > li > a {
    border: 1px solid transparent;
    color: #fff;
    background: #23262a;
}
.nav-tabs > li > a:hover {
    border: 1px solid #d4d4d4;
    background: #f6f7f8;
}
.tab-secondary .nav-tabs > li > a:hover {
    border: 1px solid transparent;
    background: #353535;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #fff;
    border: 1px solid transparent;
}
.tab-content {
    background: #fff;
    border: 1px solid #d4d4d4;
    border-bottom: 3px double #d4d4d4;
    padding: 30px 30px 15px 30px;
}
.tab-icons .tab-content {
    padding: 0;
    border: none;
}
.tab-secondary .tab-content {
    border-top: none;
}
.gray-container .nav-tabs > li > a,
.gray-container .nav-tabs > li > a:hover,
.gray-container .tab-content {
    border-color: #bfbfbf;
}
.gray-container .nav-tabs > li.active > a,
.gray-container .nav-tabs > li.active > a:hover,
.gray-container .nav-tabs > li.active > a:focus,
.gray-container .tab-secondary .nav-tabs > li > a {
    border-color: transparent;
}
.gray-container .tab-secondary .nav-tabs > li > a:hover {
    border-color: transparent;
    background: #353535;
}
.gray-container .nav-tabs > li > a:hover {
    background: #e8e8e8;
}

/*
* === Accordion ===
*/
.panel {
    margin-bottom: 20px;
    background: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}
.panel-heading {
    position: relative;
    padding: 0 0 0 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
    border: none;
}
.panel-title {
    font-size: 14px;
}
.panel-title a {
    display: block;
    padding: 10px 15px 10px 20px;
    border: 1px solid #d4d4d4;
    color: #2b2b2b;
    border-radius: 2px;
}
.panel-title a .plus,
.panel-title a .minus {
    background-color: #2b2b2b;
    position: absolute;
    font-size: 12px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 0;
    padding-left: 1px;
    margin-top: -10px;
    border-radius: 2px;
}
.panel-title a:hover,
.panel-title a:focus,
.panel-title a:active {
    text-decoration: none;
    color: #2b2b2b;
}
.panel-title a .minus {
    display: block;
}
.panel-title a .plus {
    display: none;
}
.panel-title a.collapsed .plus {
    display: block;
}
.panel-title a.collapsed .minus {
    display: none;
}
.panel-body {
    margin-bottom: 10px;
}
.panel-default > .panel-heading {
    color: #2b2b2b;
    background: none;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: none;
}
.panel-group .panel-default .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-default .panel-heading + .panel-collapse > .list-group {
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}
.panel-secondary .panel-heading {
    padding: 0;
    margin-bottom: 15px;
}
.panel-secondary .panel-title a {
    border: none;
    border-bottom: none;
    padding: 0 0 15px 30px;
    border-bottom: 1px solid #d4d4d4;
}
.panel-secondary .panel-title a .plus,
.panel-secondary .panel-title a .minus {
    margin-top: -18px;
}
.panel-secondary .panel-body {
    border: none;
    padding: 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.gray-container .panel-title a,
.gray-container .panel-group .panel-default .panel-heading + .panel-collapse > .panel-body,
.gray-container .panel-group .panel-default .panel-heading + .panel-collapse > .list-group {
    border: 1px solid #bfbfbf;
}
.gray-container .panel-secondary .panel-title a {
    border: none;
    border-bottom: 1px solid #bfbfbf;
}

/*
* === Progress Bar ===
*/
.progress {
    position: relative;
    height: 28px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: rgba(70, 70, 70, 0.1);
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    padding: 4px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #23262a;
}
.progress.progress-sm {
    height: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: visible;
}
.progress.progress-sm .progress-bar span {
    position: absolute;
    color: #616161;
    top: -25px;
    right: 0;
    font-weight: 700;
}
.parallax-container .progress.progress-sm .progress-bar span {
    color: #fff;
}
.progress.progress-lg {
    height: 40px;
}
.progress.progress-lg .progress-bar {
    padding: 10px 0;
}
.circle-progress {
    display: inline-block;
    padding: 0;
}
@media (min-width: 1200px) {
    .knob-container canvas {
        width: 230px;
        height: 230px;
    }
}
.knob-container-100 canvas {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.knob-container {
    margin: 10px;
    position: relative;
    display: inline-block;
}
.knob-text {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: -14px;
    font-size: 16px;
}
.knob-count {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    margin-top: -14px;
    font-size: 36px;
    font-weight: 600;
}

/*
* === Call To Action ===
*/
.call-to-action {
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
}
.call-to-action .title {
    font-size: 20px;
    line-height: 27px;
    padding: 15px 25px;
    margin-bottom: 0;
}
.call-to-action p {
    padding-left: 25px;
    font-size: 14px;
}
.call-to-action-dark .title,
.call-to-action-primary .title {
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 25px;
    margin-bottom: 0;
}
.call-to-action-dark p,
.call-to-action-primary p {
    color: #fff;
    padding-left: 25px;
    font-size: 14px;
}
.call-to-action-dark,
.call-to-action-primary {
    background-color: #777;
    border: 1px solid #666;
}

/*
* === Pagination ===
*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0 20px 0;
    border-radius: 0;
}
.pagination.pagination-center {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
}
.pagination > li > a,
.pagination > li > span {
    padding: 6px 12px;
    margin: 0 5px 0 0;
    line-height: 1.42857143;
    color: #616161;
    text-decoration: none;
    background: #ececec;
    border: 1px solid #ececec;
    border-radius: 2px;
}
.pagination.pagination-right > li > a,
.pagination.pagination-right > li > span {
    float: right;
    margin: 0 0 0 5px;
}
.pagination.pagination-center > li > a,
.pagination.pagination-center > li > span {
    float: none;
    display: inline-block;
    margin: 0 2.5px 0 2.5px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2b2b2b;
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #616161;
    text-decoration: none;
    background: #ececec;
    border: 1px solid #ececec;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.pagination-sm > li > a,
.pagination-sm > li > span {
    padding: 4px 9px;
    font-size: 12px;
    line-height: 1.5;
}
.pager {
    margin: 0 0 20px 0;
}
.pager li > a,
.pager li > span {
    background-color: #ececec;
    border: 1px solid #ececec;
    border-radius: 2px;
    color: #616161;
}
.pager li > a:hover,
.pager li > a:focus {
    color: #2b2b2b;
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

/*
* === Rounded ===
*/
.no-rounded {
    border-radius: 0 !important;
}
.rounded {
    border-radius: 4px !important;
}
.rounded-x {
    border-radius: 50% !important;
}
.rounded-2x {
    border-radius: 10px !important;
}
.rounded-3x {
    border-radius: 15px !important;
}
.rounded-4x {
    border-radius: 20px !important;
}
.rounded-sm {
    border-radius: 2px !important;
}
.rounded-md {
    border-radius: 3px !important;
}
.rounded-top {
    border-radius: 4px 4px 0 0 !important;
}
.rounded-left {
    border-radius: 4px 0 0 4px !important;
}
.rounded-right {
    border-radius: 0 4px 4px 0 !important;
}
.rounded-bottom {
    border-radius: 0 0 4px 4px !important;
}

/*
* === Buttons ===
*/
.btn,
.btn:active,
.btn:active:hover,
.btn:active:focus {
    box-shadow: none;
}
.btn-e {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    padding: 12px 25px;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    font-weight: 700;
    text-align: center;
    border: 1px solid transparent;
    color: #292929;
    background-color: #fff;
}
.btn-e.focus,
.btn-e:focus,
.btn-e:hover {
    text-decoration: none;
}
.btn-e .fa {
    padding-right: 5px;
}
.brand-page .btn-e,
.btn-color .btn-e,
.btn-bordered {
    margin-bottom: 10px;
}
.btn-e:hover,
.btn-gray:hover {
    color: #292929;
    background-color: #eee;
}
.btn-gray:focus {
    color: #292929;
    background-color: #fff;
}
.btn-e-default {
    color: #fff;
    background-color: #292929;
    border-color: #292929;
}
.btn-e-default.btn-bordered,
.btn-e-primary .btn-bordered,
.btn-e-aqua .btn-bordered,
.btn-e-blue .btn-bordered,
.btn-e-brown .btn-bordered,
.btn-e-dark-blue .btn-bordered,
.btn-e-dark-red .btn-bordered,
.btn-e-green .btn-bordered,
.btn-e-light-green .btn-bordered,
.btn-e-orange .btn-bordered,
.btn-e-purple .btn-bordered,
.btn-e-red .btn-bordered,
.btn-e-teal .btn-bordered,
.btn-e-yellow .btn-bordered {
    background: none;
    color: #292929;
}
.btn-e-default:focus,
.btn-e-default.focus,
.btn-e-default:hover,
.btn-e-default:active,
.btn-e-default.active,
.open > .dropdown-toggle.btn-e-default,
.btn-e-default:active:hover,
.btn-e-default.active:hover,
.open > .dropdown-toggle.btn-e-default:hover,
.btn-e-default:active:focus,
.btn-e-default.active:focus,
.open > .dropdown-toggle.btn-e-default:focus,
.btn-e-default:active.focus,
.btn-e-default.active.focus,
.open > .dropdown-toggle.btn-e-default.focus {
    color: #fff;
    background-color: #1b1b1b;
    border-color: #1b1b1b;
    outline: none;
}
.btn-e-default,
.btn-e-default:focus,
.btn-e-default.focus,
.btn-e-default:hover,
.btn-e-default:active,
.btn-e-default.active,
.open > .dropdown-toggle.btn-e-default,
.btn-e-default:active:hover,
.btn-e-default.active:hover,
.open > .dropdown-toggle.btn-e-default:hover,
.btn-e-default:active:focus,
.btn-e-default.active:focus,
.open > .dropdown-toggle.btn-e-default:focus,
.btn-e-default:active.focus,
.btn-e-default.active.focus,
.open > .dropdown-toggle.btn-e-default.focus,
.btn-e-default.btn-bordered:focus,
.btn-e-default.btn-bordered.focus,
.btn-e-default.btn-bordered:hover,
.btn-e-default.btn-bordered:active,
.btn-e-default.btn-bordered.active,
.open > .dropdown-toggle.btn-e-default.btn-bordered,
.btn-e-default.btn-bordered:active:hover,
.btn-e-default.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-default.btn-bordered:hover,
.btn-e-default.btn-bordered:active:focus,
.btn-e-default.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-default.btn-bordered:focus,
.btn-e-default.btn-bordered:active.focus,
.btn-e-default.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-default.btn-bordered.focus,
.btn-e-primary,
.btn-e-primary:focus,
.btn-e-primary.focus,
.btn-e-primary:hover,
.btn-e-primary:active,
.btn-e-primary.active,
.open > .dropdown-toggle.btn-e-primary,
.btn-e-primary:active:hover,
.btn-e-primary.active:hover,
.open > .dropdown-toggle.btn-e-primary:hover,
.btn-e-primary:active:focus,
.btn-e-primary.active:focus,
.open > .dropdown-toggle.btn-e-primary:focus,
.btn-e-primary:active.focus,
.btn-e-primary.active.focus,
.open > .dropdown-toggle.btn-e-primary.focus,
.btn-e-primary.btn-bordered:focus,
.btn-e-primary.btn-bordered.focus,
.btn-e-primary.btn-bordered:hover,
.btn-e-primary.btn-bordered:active,
.btn-e-primary.btn-bordered.active,
.open > .dropdown-toggle.btn-e-primary.btn-bordered,
.btn-e-primary.btn-bordered:active:hover,
.btn-e-primary.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-primary.btn-bordered:hover,
.btn-e-primary.btn-bordered:active:focus,
.btn-e-primary.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-primary.btn-bordered:focus,
.btn-e-primary.btn-bordered:active.focus,
.btn-e-primary.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-primary.btn-bordered.focus,
.btn-e-aqua,
.btn-e-aqua:focus,
.btn-e-aqua.focus,
.btn-e-aqua:hover,
.btn-e-aqua:active,
.btn-e-aqua.active,
.open > .dropdown-toggle.btn-e-aqua,
.btn-e-aqua:active:hover,
.btn-e-aqua.active:hover,
.open > .dropdown-toggle.btn-e-aqua:hover,
.btn-e-aqua:active:focus,
.btn-e-aqua.active:focus,
.open > .dropdown-toggle.btn-e-aqua:focus,
.btn-e-aqua:active.focus,
.btn-e-aqua.active.focus,
.open > .dropdown-toggle.btn-e-aqua.focus,
.btn-e-aqua.btn-bordered:focus,
.btn-e-aqua.btn-bordered.focus,
.btn-e-aqua.btn-bordered:hover,
.btn-e-aqua.btn-bordered:active,
.btn-e-aqua.btn-bordered.active,
.open > .dropdown-toggle.btn-e-aqua.btn-bordered,
.btn-e-aqua.btn-bordered:active:hover,
.btn-e-aqua.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-aqua.btn-bordered:hover,
.btn-e-aqua.btn-bordered:active:focus,
.btn-e-aqua.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-aqua.btn-bordered:focus,
.btn-e-aqua.btn-bordered:active.focus,
.btn-e-aqua.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-aqua.btn-bordered.focus,
.btn-e-blue,
.btn-e-blue:focus,
.btn-e-blue.focus,
.btn-e-blue:hover,
.btn-e-blue:active,
.btn-e-blue.active,
.open > .dropdown-toggle.btn-e-blue,
.btn-e-blue:active:hover,
.btn-e-blue.active:hover,
.open > .dropdown-toggle.btn-e-blue:hover,
.btn-e-blue:active:focus,
.btn-e-blue.active:focus,
.open > .dropdown-toggle.btn-e-blue:focus,
.btn-e-blue:active.focus,
.btn-e-blue.active.focus,
.open > .dropdown-toggle.btn-e-blue.focus,
.btn-e-blue.btn-bordered:focus,
.btn-e-blue.btn-bordered.focus,
.btn-e-blue.btn-bordered:hover,
.btn-e-blue.btn-bordered:active,
.btn-e-blue.btn-bordered.active,
.open > .dropdown-toggle.btn-e-blue.btn-bordered,
.btn-e-blue.btn-bordered:active:hover,
.btn-e-blue.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-blue.btn-bordered:hover,
.btn-e-blue.btn-bordered:active:focus,
.btn-e-blue.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-blue.btn-bordered:focus,
.btn-e-blue.btn-bordered:active.focus,
.btn-e-blue.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-blue.btn-bordered.focus,
.btn-e-brown,
.btn-e-brown:focus,
.btn-e-brown.focus,
.btn-e-brown:hover,
.btn-e-brown:active,
.btn-e-brown.active,
.open > .dropdown-toggle.btn-e-brown,
.btn-e-brown:active:hover,
.btn-e-brown.active:hover,
.open > .dropdown-toggle.btn-e-brown:hover,
.btn-e-brown:active:focus,
.btn-e-brown.active:focus,
.open > .dropdown-toggle.btn-e-brown:focus,
.btn-e-brown:active.focus,
.btn-e-brown.active.focus,
.open > .dropdown-toggle.btn-e-brown.focus,
.btn-e-brown.btn-bordered:focus,
.btn-e-brown.btn-bordered.focus,
.btn-e-brown.btn-bordered:hover,
.btn-e-brown.btn-bordered:active,
.btn-e-brown.btn-bordered.active,
.open > .dropdown-toggle.btn-e-brown.btn-bordered,
.btn-e-brown.btn-bordered:active:hover,
.btn-e-brown.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-brown.btn-bordered:hover,
.btn-e-brown.btn-bordered:active:focus,
.btn-e-brown.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-brown.btn-bordered:focus,
.btn-e-brown.btn-bordered:active.focus,
.btn-e-brown.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-brown.btn-bordered.focus,
.btn-e-dark-blue,
.btn-e-dark-blue:focus,
.btn-e-dark-blue.focus,
.btn-e-dark-blue:hover,
.btn-e-dark-blue:active,
.btn-e-dark-blue.active,
.open > .dropdown-toggle.btn-e-dark-blue,
.btn-e-dark-blue:active:hover,
.btn-e-dark-blue.active:hover,
.open > .dropdown-toggle.btn-e-dark-blue:hover,
.btn-e-dark-blue:active:focus,
.btn-e-dark-blue.active:focus,
.open > .dropdown-toggle.btn-e-dark-blue:focus,
.btn-e-dark-blue:active.focus,
.btn-e-dark-blue.active.focus,
.open > .dropdown-toggle.btn-e-dark-blue.focus,
.btn-e-dark-blue.btn-bordered:focus,
.btn-e-dark-blue.btn-bordered.focus,
.btn-e-dark-blue.btn-bordered:hover,
.btn-e-dark-blue.btn-bordered:active,
.btn-e-dark-blue.btn-bordered.active,
.open > .dropdown-toggle.btn-e-dark-blue.btn-bordered,
.btn-e-dark-blue.btn-bordered:active:hover,
.btn-e-dark-blue.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-dark-blue.btn-bordered:hover,
.btn-e-dark-blue.btn-bordered:active:focus,
.btn-e-dark-blue.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-dark-blue.btn-bordered:focus,
.btn-e-dark-blue.btn-bordered:active.focus,
.btn-e-dark-blue.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-dark-blue.btn-bordered.focus,
.btn-e-dark-red,
.btn-e-dark-red:focus,
.btn-e-dark-red.focus,
.btn-e-dark-red:hover,
.btn-e-dark-red:active,
.btn-e-dark-red.active,
.open > .dropdown-toggle.btn-e-dark-red,
.btn-e-dark-red:active:hover,
.btn-e-dark-red.active:hover,
.open > .dropdown-toggle.btn-e-dark-red:hover,
.btn-e-dark-red:active:focus,
.btn-e-dark-red.active:focus,
.open > .dropdown-toggle.btn-e-dark-red:focus,
.btn-e-dark-red:active.focus,
.btn-e-dark-red.active.focus,
.open > .dropdown-toggle.btn-e-dark-red.focus,
.btn-e-dark-red.btn-bordered:focus,
.btn-e-dark-red.btn-bordered.focus,
.btn-e-dark-red.btn-bordered:hover,
.btn-e-dark-red.btn-bordered:active,
.btn-e-dark-red.btn-bordered.active,
.open > .dropdown-toggle.btn-e-dark-red.btn-bordered,
.btn-e-dark-red.btn-bordered:active:hover,
.btn-e-dark-red.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-dark-red.btn-bordered:hover,
.btn-e-dark-red.btn-bordered:active:focus,
.btn-e-dark-red.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-dark-red.btn-bordered:focus,
.btn-e-dark-red.btn-bordered:active.focus,
.btn-e-dark-red.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-dark-red.btn-bordered.focus,
.btn-e-green,
.btn-e-green:focus,
.btn-e-green.focus,
.btn-e-green:hover,
.btn-e-green:active,
.btn-e-green.active,
.open > .dropdown-toggle.btn-e-green,
.btn-e-green:active:hover,
.btn-e-green.active:hover,
.open > .dropdown-toggle.btn-e-green:hover,
.btn-e-green:active:focus,
.btn-e-green.active:focus,
.open > .dropdown-toggle.btn-e-green:focus,
.btn-e-green:active.focus,
.btn-e-green.active.focus,
.open > .dropdown-toggle.btn-e-green.focus,
.btn-e-green.btn-bordered:focus,
.btn-e-green.btn-bordered.focus,
.btn-e-green.btn-bordered:hover,
.btn-e-green.btn-bordered:active,
.btn-e-green.btn-bordered.active,
.open > .dropdown-toggle.btn-gree.btn-borderedn,
.btn-e-green.btn-bordered:active:hover,
.btn-e-green.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-green.btn-bordered:hover,
.btn-e-green.btn-bordered:active:focus,
.btn-e-green.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-green.btn-bordered:focus,
.btn-e-green.btn-bordered:active.focus,
.btn-e-green.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-green.btn-bordered.focus,
.btn-e-light-green,
.btn-e-light-green:focus,
.btn-e-light-green.focus,
.btn-e-light-green:hover,
.btn-e-light-green:active,
.btn-e-light-green.active,
.open > .dropdown-toggle.btn-e-light-green,
.btn-e-light-green:active:hover,
.btn-e-light-green.active:hover,
.open > .dropdown-toggle.btn-e-light-green:hover,
.btn-e-light-green:active:focus,
.btn-e-light-green.active:focus,
.open > .dropdown-toggle.btn-e-light-green:focus,
.btn-e-light-green:active.focus,
.btn-e-light-green.active.focus,
.open > .dropdown-toggle.btn-e-light-green.focus,
.btn-e-light-green.btn-bordered:focus,
.btn-e-light-green.btn-bordered.focus,
.btn-e-light-green.btn-bordered:hover,
.btn-e-light-green.btn-bordered:active,
.btn-e-light-green.btn-bordered.active,
.open > .dropdown-toggle.btn-e-light-green.btn-bordered,
.btn-e-light-green.btn-bordered:active:hover,
.btn-e-light-green.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-light-green.btn-bordered:hover,
.btn-e-light-green.btn-bordered:active:focus,
.btn-e-light-green.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-light-green.btn-bordered:focus,
.btn-e-light-green.btn-bordered:active.focus,
.btn-e-light-green.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-light-green.btn-bordered.focus,
.btn-e-orange,
.btn-e-orange:focus,
.btn-e-orange.focus,
.btn-e-orange:hover,
.btn-e-orange:active,
.btn-e-orange.active,
.open > .dropdown-toggle.btn-e-orange,
.btn-e-orange:active:hover,
.btn-e-orange.active:hover,
.open > .dropdown-toggle.btn-e-orange:hover,
.btn-e-orange:active:focus,
.btn-e-orange.active:focus,
.open > .dropdown-toggle.btn-e-orange:focus,
.btn-e-orange:active.focus,
.btn-e-orange.active.focus,
.open > .dropdown-toggle.btn-e-orange.focus,
.btn-e-orange.btn-bordered:focus,
.btn-e-orange.btn-bordered.focus,
.btn-e-orange.btn-bordered:hover,
.btn-e-orange.btn-bordered:active,
.btn-e-orange.btn-bordered.active,
.open > .dropdown-toggle.btn-e-orange.btn-bordered,
.btn-e-orange.btn-bordered:active:hover,
.btn-e-orange.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-orange.btn-bordered:hover,
.btn-e-orange.btn-bordered:active:focus,
.btn-e-orange.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-orange.btn-bordered:focus,
.btn-e-orange.btn-bordered:active.focus,
.btn-e-orange.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-orange.btn-bordered.focus,
.btn-e-purple,
.btn-e-purple:focus,
.btn-e-purple.focus,
.btn-e-purple:hover,
.btn-e-purple:active,
.btn-e-purple.active,
.open > .dropdown-toggle.btn-e-purple,
.btn-e-purple:active:hover,
.btn-e-purple.active:hover,
.open > .dropdown-toggle.btn-e-purple:hover,
.btn-e-purple:active:focus,
.btn-e-purple.active:focus,
.open > .dropdown-toggle.btn-e-purple:focus,
.btn-e-purple:active.focus,
.btn-e-purple.active.focus,
.open > .dropdown-toggle.btn-e-purple.focus,
.btn-e-purple.btn-bordered:focus,
.btn-e-purple.btn-bordered.focus,
.btn-e-purple.btn-bordered:hover,
.btn-e-purple.btn-bordered:active,
.btn-e-purple.btn-bordered.active,
.open > .dropdown-toggle.btn-e-purple.btn-bordered,
.btn-e-purple.btn-bordered:active:hover,
.btn-e-purple.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-purple.btn-bordered:hover,
.btn-e-purple.btn-bordered:active:focus,
.btn-e-purple.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-purple.btn-bordered:focus,
.btn-e-purple.btn-bordered:active.focus,
.btn-e-purple.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-purple.btn-bordered.focus,
.btn-e-red,
.btn-e-red:focus,
.btn-e-red.focus,
.btn-e-red:hover,
.btn-e-red:active,
.btn-e-red.active,
.open > .dropdown-toggle.btn-e-red,
.btn-e-red:active:hover,
.btn-e-red.active:hover,
.open > .dropdown-toggle.btn-e-red:hover,
.btn-e-red:active:focus,
.btn-e-red.active:focus,
.open > .dropdown-toggle.btn-e-red:focus,
.btn-e-red:active.focus,
.btn-e-red.active.focus,
.open > .dropdown-toggle.btn-e-red.focus,
.btn-e-red.btn-bordered:focus,
.btn-e-red.btn-bordered.focus,
.btn-e-red.btn-bordered:hover,
.btn-e-red.btn-bordered:active,
.btn-e-red.btn-bordered.active,
.open > .dropdown-toggle.btn-e-red.btn-bordered,
.btn-e-red.btn-bordered:active:hover,
.btn-e-red.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-red.btn-bordered:hover,
.btn-e-red.btn-bordered:active:focus,
.btn-e-red.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-red.btn-bordered:focus,
.btn-e-red.btn-bordered:active.focus,
.btn-e-red.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-red.btn-bordered.focus,
.btn-e-teal,
.btn-e-teal:focus,
.btn-e-teal.focus,
.btn-e-teal:hover,
.btn-e-teal:active,
.btn-e-teal.active,
.open > .dropdown-toggle.btn-e-teal,
.btn-e-teal:active:hover,
.btn-e-teal.active:hover,
.open > .dropdown-toggle.btn-e-teal:hover,
.btn-e-teal:active:focus,
.btn-e-teal.active:focus,
.open > .dropdown-toggle.btn-e-teal:focus,
.btn-e-teal:active.focus,
.btn-e-teal.active.focus,
.open > .dropdown-toggle.btn-e-teal.focus,
.btn-e-teal.btn-bordered:focus,
.btn-e-teal.btn-bordered.focus,
.btn-e-teal.btn-bordered:hover,
.btn-e-teal.btn-bordered:active,
.btn-e-teal.btn-bordered.active,
.open > .dropdown-toggle.btn-e-teal.btn-bordered,
.btn-e-teal.btn-bordered:active:hover,
.btn-e-teal.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-teal.btn-bordered:hover,
.btn-e-teal.btn-bordered:active:focus,
.btn-e-teal.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-teal.btn-bordered:focus,
.btn-e-teal.btn-bordered:active.focus,
.btn-e-teal.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-teal.btn-bordered.focus,
.btn-e-yellow,
.btn-e-yellow:focus,
.btn-e-yellow.focus,
.btn-e-yellow:hover,
.btn-e-yellow:active,
.btn-e-yellow.active,
.open > .dropdown-toggle.btn-e-yellow,
.btn-e-yellow:active:hover,
.btn-e-yellow.active:hover,
.open > .dropdown-toggle.btn-e-yellow:hover,
.btn-e-yellow:active:focus,
.btn-e-yellow.active:focus,
.open > .dropdown-toggle.btn-e-yellow:focus,
.btn-e-yellow:active.focus,
.btn-e-yellow.active.focus,
.open > .dropdown-toggle.btn-e-yellow.focus,
.btn-e-yellow.btn-bordered:focus,
.btn-e-yellow.btn-bordered.focus,
.btn-e-yellow.btn-bordered:hover,
.btn-e-yellow.btn-bordered:active,
.btn-e-yellow.btn-bordered.active,
.open > .dropdown-toggle.btn-e-yellow.btn-bordered,
.btn-e-yellow.btn-bordered:active:hover,
.btn-e-yellow.btn-bordered.active:hover,
.open > .dropdown-toggle.btn-e-yellow.btn-bordered:hover,
.btn-e-yellow.btn-bordered:active:focus,
.btn-e-yellow.btn-bordered.active:focus,
.open > .dropdown-toggle.btn-e-yellow.btn-bordered:focus,
.btn-e-yellow.btn-bordered:active.focus,
.btn-e-yellow.btn-bordered.active.focus,
.open > .dropdown-toggle.btn-e-yellow.btn-bordered.focus {
    color: #fff;
    outline: none;
}
.btn-table {
    padding: 3px 10px;
    font-size: 11px;
    border-radius: 2px;
    border-color: transparent;
}
.btn-icon {
    padding-right: 60px;
}
.btn-icon .fa {
    position: absolute;
    background: rgba(36, 36, 36, 0.12);
    text-align: center;
    padding: 13px;
    top: -1px;
    right: -1px;
}
.btn-bordered.btn-icon .fa {
    background: none;
    border-left: 1px solid transparent;
}
.btn-e-default.btn-bordered.btn-icon .fa {
    border-color: #464646;
}
.btn-e-default.btn-bordered.btn-icon:hover .fa,
.btn-e-default.btn-bordered.btn-icon:active .fa,
.btn-e-defaultbtn-bordered.btn-icon:focus .fa,
.btn-e-primary.btn-bordered.btn-icon:hover .fa,
.btn-e-primary.btn-bordered.btn-icon:active .fa,
.btn-e-primary-bordered.btn-icon:focus .fa,
.btn-e-blue.btn-bordered.btn-icon:hover .fa,
.btn-e-blue.btn-bordered.btn-icon:active .fa,
.btn-e-blue-bordered.btn-icon:focus .fa,
.btn-e-purple.btn-bordered.btn-icon:hover .fa,
.btn-e-purple.btn-bordered.btn-icon:active .fa,
.btn-e-purple-bordered.btn-icon:focus .fa,
.btn-e-teal.btn-bordered.btn-icon:hover .fa,
.btn-e-teal.btn-bordered.btn-icon:active .fa,
.btn-e-teal-bordered.btn-icon:focus .fa,
.btn-e-yellow.btn-bordered.btn-icon:hover .fa,
.btn-e-yellow.btn-bordered.btn-icon:active .fa,
.btn-e-yellow-bordered.btn-icon:focus .fa,
.btn-e-green.btn-bordered.btn-icon:hover .fa,
.btn-e-green.btn-bordered.btn-icon:active .fa,
.btn-e-green-bordered.btn-icon:focus .fa,
.btn-e-red.btn-bordered.btn-icon:hover .fa,
.btn-e-red.btn-bordered.btn-icon:active .fa,
.btn-e-red-bordered.btn-icon:focus .fa {
    border-left: 2px solid transparent;
    background: rgba(36, 36, 36, 0.12);
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 20px 35px;
    font-size: 18px;
    line-height: 18px;
    border-radius: 3px;
}
.btn-icon.btn-lg {
    padding-right: 90px
}
.btn-icon.btn-lg .fa {
    padding: 21px;
}
.btn-sm,
.btn-group-sm > .btn {
    padding: 8px 15px;
    font-size: 11px;
    line-height: 11px;
    border-radius: 2px;
}
.btn-icon.btn-sm {
    padding-right: 45px
}
.btn-icon.btn-sm .fa {
    padding: 9px;
}
.btn-xs,
.btn-group-xs > .btn {
    padding: 6px 12px;
    font-size: 11px;
    line-height: 11px;
    border-radius: 2px;
}
.btn-icon.btn-xs {
    padding-right: 35px
}
.btn-icon.btn-xs .fa {
    padding: 7px;
}
.top-offset {
    margin-top: -15px;
}
.btn-facebook {
    background: #2c90b9;
    color: #fff;
}
.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active {
    background: #207fa7;
    color: #fff;
}
.btn-twitter {
    background: #4bd0dc;
    color: #fff;
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
    background: #38b0bb;
    color: #fff;
}
.btn-google-plus {
    background: #de5644;
    color: #fff;
}
.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active {
    background: #c84b3a;
    color: #fff;
}
.btn-linkedin {
    background: #4c92b6;
    color: #fff;
}
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active {
    background: #4183a5;
    color: #fff;
}
.btn-dribbble {
    background: #cf60a9;
    color: #fff;
}
.btn-dribbble:hover,
.btn-dribbble:focus,
.btn-dribbble:active {
    background: #b64c92;
    color: #fff;
}
.btn-pinterest {
    background: #d8434d;
    color: #fff;
}
.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active {
    background: #c2333d;
    color: #fff;
}
.btn-instagram {
    background: #9d705b;
    color: #fff;
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active {
    background: #815a47;
    color: #fff;
}
.blog-social .btn-facebook i,
.blog-social .btn-twitter i,
.blog-social .btn-google-plus i,
.blog-social .btn-linkedin i,
.blog-social .btn-dribbble i,
.blog-social .btn-pinterest i,
.blog-social .btn-instagram i {
    width: 40px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    border-radius: 2px;
}

/*
* === Form ===
*/
.form-control {
    border-radius: 0;
    background: #ffffff;
    height: 40px;
    padding-right: 30px;
    border: 1px solid #acacac;
    color: #666666;
    padding: 10px 15px;
    font-size: 13px;
    position: relative;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}
.form-horizontal .form-group a i {
    margin-top: 0;
}
.form-horizontal textarea {
    resize: none;
}
.form-control::-moz-placeholder {
    color: #b6b6b6;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #b6b6b6;
}
.form-control::-webkit-input-placeholder {
    color: #b6b6b6;
}
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
footer .form-control {
    background: none;
    color: #b2b2b2;
    border: 1px solid #fff;
}
footer .form-control::-moz-placeholder {
    color: #8b8b8b;
    opacity: 1;
}
footer .form-control:-ms-input-placeholder {
    color: #8b8b8b;
}
footer .form-control::-webkit-input-placeholder {
    color: #8b8b8b;
}
.form-wrapper {
    display: block;
    width: 100%;
    position: relative;
    padding: 40px;
    background: rgba(255, 255, 255, 0.98);
    color: #636363;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.form-wrapper h1,
.form-wrapper h2,
.form-wrapper h3,
.form-wrapper h4,
.form-wrapper h5,
.form-wrapper h6 {
    color: #292929;
}
.form-wrapper label {
    color: #292929;
}
.form-wrapper:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}
.form-wrapper.dark-bg {
    background: rgba(28, 28, 28, 0.9);
    color: #fff;
}
.form-wrapper.dark-bg h1,
.form-wrapper.dark-bg h2,
.form-wrapper.dark-bg h3,
.form-wrapper.dark-bg h4,
.form-wrapper.dark-bg h5,
.form-wrapper.dark-bg h6,
.form-wrapper.dark-bg label {
    color: #fff;
}
.form-wrapper label {
    color: #fff;
}
.form-wrapper.dark-bg .form-control,
.form-wrapper.dark-bg .jcf-select {
    background: #fff;
    color: #b2b2b2;
    border: 1px solid #fff;
}
.form-wrapper.dark-bg .jcf-select .jcf-select-text {
    color: #b2b2b2;
}
.form-wrapper.dark-bg .form-control::-moz-placeholder,
.form-wrapper.dark-bg .jcf-select::-moz-placeholder {
    color: #8b8b8b;
    opacity: 1;
}
.form-wrapper.dark-bg .form-control:-ms-input-placeholder,
.form-wrapper.dark-bg .jcf-select::-ms-input-placeholder {
    color: #8b8b8b;
}
.form-wrapper.dark-bg .form-control::-webkit-input-placeholder,
.form-wrapper.dark-bg .jcf-select::-webkit-input-placeholder {
    color: #8b8b8b;
}

/*
* === SOURCE ELEMENT (when checkator is enabled on an element) ===
*/
.checkator_source {
    position: relative;
    z-index: 2;
    display: block;
}

/*
* === SHARED SETTING ===
*/
.checkator_holder {
    display: inline-block;
    position: relative;
}
.checkator_element {
    border: 1px solid #aeaeae;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    display: block;
    position: absolute;
    top: 7px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.checkator_source:checked+.checkator_element:after {
    display: block;
    content: ' ';
    top: 3px;
    left: 3px;
    position: absolute;
    width: 6px;
    height: 6px;
}
.checkator_source:focus+.checkator_element {
    border: 1px solid;
}
.checkator_source:hover+.checkator_element {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    cursor: pointer;
}

/*
* === RADIO SETTINGS ===
*/
.form-horizontal .checkator_element.radio,
.checkator_element.radio {
    border: 1px solid #aeaeae;
    border-radius: 50% !important;
    width: 14px;
    height: 14px;
    margin-top: -5px;
}
.checkator_element.radio:after {
    border-radius: 50% !important;
}

/*
* === CHECKBOX SETTINGS ===
*/
.form-horizontal .checkator_element.checkbox,
.checkator_element.checkbox {
    border: 1px solid #aeaeae;
    width: 14px;
    height: 14px;
    margin-top: -5px;
}
.radio.disabled label,
.checkbox.disabled label {
    color: #b1b1b1;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-top: 0;
    margin-left: -20px;
    margin-right: 5px;
}
.form-inline .checkator_element.radio,
.form-inline .checkator_element.checkbox {
    margin-top: -8px;
}

/*
* === Scrollbars ===
*/
.jcf-scrollable-wrapper {
    box-sizing: content-box;
    position: relative;
}
.jcf-scrollbar-vertical {
    position: absolute;
    cursor: default;
    background: #f3f3f3;
    width: 15px;
    bottom: 0;
    right: 0;
    top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
    background-image: url(../img/scrollbar-dec.png);
    background-color: #b8b8b8;
    background-position: center center;
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    cursor: pointer;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
    background-image: url(../img/scrollbar-inc.png);
    top: auto;
    bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
    background: #cccccc url(../img/scrollbar-handle.png) no-repeat center center;
    height: 1px;
    width: 15px;
    cursor: pointer;
}
.jcf-scrollbar-horizontal {
    position: absolute;
    background: #e3e3e3;
    right: auto;
    top: auto;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    background: #bbb;
    height: 14px;
    width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
    left: auto;
    right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
    display: inline-block;
    position: relative;
    height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
    position: absolute;
    background: #888;
    height: 14px;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
    visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec,
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
    background: #e3e3e3;
}

/*
* === Select ===
*/
.jcf-select {
    padding: 7px 15px;
    display: block;
    position: relative;
    height: 40px;
    border-radius: 2px;
    border: 1px solid #aeaeae;
    font-size: 13px;
    color: #616161;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.jcf-select::-moz-placeholder {
    color: #b6b6b6;
    opacity: 1;
}
.jcf-select::-ms-input-placeholder {
    color: #b6b6b6;
}
.jcf-select::-webkit-input-placeholder {
    color: #b6b6b6;
}
.jcf-select select {
    z-index: 1;
    left: 0;
    top: 0;
}
.jcf-select .jcf-select-text {
    overflow: hidden;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-style: italic;
    color: #b6b6b6;
    letter-spacing: 0;
}
.jcf-select .jcf-select-opener {
    position: absolute;
    text-align: center;
    cursor: pointer;
    background: url(../img/select-arrow.png) no-repeat center center;
    width: 40px;
    bottom: 0;
    right: 0;
    top: 0;
}
body > .jcf-select-drop {
    position: absolute;
    margin: -1px 0 0;
    z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
    margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
    position: absolute;
    margin-top: 0px;
    z-index: 9999;
    top: 100%;
    left: -1px;
    right: -1px;
}
.jcf-select .jcf-drop-flipped {
    bottom: 100%;
    top: auto;
}
.jcf-select.jcf-compact-multiple {
    max-width: 220px;
}
.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
    display: inline-block;
    padding-top: 2px;
    content: '...';
}
.jcf-select-drop .jcf-select-drop-content {
    border: 1px solid #aeaeae;
    padding: 10px 0;
    background: #fff;
}
.jcf-select-drop.jcf-compact-multiple .jcf-hover {
    background: none;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected {
    background: #f5f5f5;
    color: #2b2b2b;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
    display: inline-block;
    content: '';
    height: 4px;
    width: 8px;
    margin: -7px 5px 0 -3px;
    border: 3px solid #777;
    border-width: 0 0 3px 3px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}

/*
* === Multiple Select ===
*/
.jcf-list-box {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #b8c3c9;
    min-width: 200px;
    margin: 0 15px;
}
.jcf-list {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    line-height: 14px;
    font-size: 12px;
    width: 100%;
}
.jcf-list .jcf-list-content {
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    width: 100%;
}
.jcf-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.jcf-list ul li {
    overflow: hidden;
    display: block;
    display: block;
    padding: 0;
}
.jcf-list .jcf-overflow {
    overflow: auto;
}
.jcf-list .jcf-option {
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
    display: block;
    padding: 10px 20px;
    min-height: 14px;
    height: 1%;
}
.jcf-list .jcf-disabled {
    background: #fff !important;
    color: #aaa !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
    background: #f5f5f5;
    color: #2b2b2b;
    cursor: pointer;
}
.jcf-list .jcf-optgroup-caption {
    white-space: nowrap;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    cursor: default;
    color: #2b2b2b;
    text-transform: uppercase;
}
.jcf-list .jcf-optgroup .jcf-option {
    padding-left: 40px;
}
.jcf-list-box {
    overflow: hidden;
    display: block;
    border: 1px solid #b8c3c9;
    min-width: 200px;
    margin: 0;
}
.jcf-list .jcf-list-content {
    vertical-align: top;
    display: inline-block;
    overflow: auto;
    width: 100%;
    padding: 10px 0 0 0;
}
.input-group-btn:last-child>.btn-e,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn-e,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:last-child>.btn-e,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn>.btn-e {
    position: relative;
}
.input-lg,
select.input-lg,
textares.input-lg {
    height: 62px;
}
.input-sm,
select.input-sm,
textares.input-sm {
    height: 37px;
    padding: 4px 15px;
}
.form-control.default_datetimepicker {
    background-image: url(../img/calendar.png);
    -moz-background-size: 13px;
    -webkit-background-size: 13px;
    -o-background-size: 13px;
    background-size: 13px;
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
}
select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url(../img/select-arrow.png);
    -moz-background-size: 10px;
    -webkit-background-size: 10px;
    -o-background-size: 10px;
    background-size: 10px;
    background-position: center right 15px;
    background-position-x: 90%;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
.input-xs,
select.input-xs,
textares.input-xs {
    height: 27px;
    padding: 4px 15px;
}
.input-group-addon {
    color: #616161;
    border-color: #aeaeae;
    border-radius: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
    min-height: 14px;
}
.form-inline > .checkbox {
    border: solid 1px transparent;
}

/*
* === Divider ===
*/
.divider {
    border: 0;
    margin: 20px 0;
    height: 4px;
    border-top: #d2d2d2 1px solid;
    border-bottom: #d2d2d2 1px solid;
    text-align: center;
    position: relative;
    clear: both;
}
.divider .fa {
    color: #bbb;
    background: #fff;
    text-align: center;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    left: 50%;
    margin: 0 auto 0 -25px;
}
.divider.divider-2x {
    height: 6px;
}
.divider.divider-3x {
    height: 7px;
}
.divider.divider-4x {
    height: 8px;
}
.divider .primary {
    border-top-color: #f7931d;
    border-bottom-color: #f7931d;
}
.gray-container.divider {
    background: #d1d1d1;
}
.divider-t {
    border: 0;
    margin: 20px 0;
    text-align: center;
    position: relative;
    clear: both;
}
.divider.divider-dashed {
    border: 0;
    border-top: 2px dashed #d1d1d1;
}
.divider.divider-dotted {
    border: 0;
    border-top: 2px dotted #d1d1d1;
}

/*
* === Icons Page / Glyphicons Icons / Line Icons ===
*/
.icons-page .item i,
.line-icon-page .item span {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}
.icons-page .item,
.line-icon-page .item {
    width: 20%;
    float: left;
    height: 90px;
    text-align: center;
    padding: 20px 10px;
    margin: 0 -1px -1px 0;
    word-wrap: break-word;
    border: 1px solid #ddd;
}
.icons-page .item:hover,
.line-icon-page .item:hover,
.glyphicons-icons .item:hover {
    background-color: #f7931d;
    color: #fff;
}
.glyphicons-icons .item i {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}
.glyphicons-icons .item {
    width: 20%;
    float: left;
    height: 110px;
    text-align: center;
    padding: 20px 10px;
    margin: 0 -1px -1px 0;
    word-wrap: break-word;
    border: 1px solid #ddd;
}
.headline {
    display: block;
    margin: 20px 0 25px 0;
    border-bottom: 2px dotted #f7931d;
}
@media (max-width: 768px) {
    .line-icon-page .item,
    .icons-page .item {
        height: 115px;
    }
}
@media (max-width: 450px) {
    .line-icon-page .item,
    .icons-page .item {
        height: 130px;
    }
}
@media (max-width: 768px) {
    .glyphicons-icons .item {
        height: 140px;
    }
}
@media (max-width: 450px) {
    .glyphicons-icons .item {
        height: 160px;
    }
}

/*
* === Login / Registration Page ===
*/
.form-block {
    width: 630px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    padding: 20px;
}
@media (max-width: 630px) {
    .form-block {
        width: 95%;
    }
}
.form-block form {
    margin: 0;
}
.form-block .social-links {
    margin: 10px 0 0 10px;
    display: inline-block;
}
.form-block ul {
    padding-left: 0;
    list-style-position: inside;
}
.form-block .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px) {
    .title {
        margin-top: 0;
    }
}
.form-horizontal .has-feedback .form-control-feedback {
    right: 15px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-horizontal .form-group i {
    margin-top: 5px;
}
.has-feedback {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group .lost {
    margin-top: 10px;
    list-style: none;
}
.form-group .btn {
    border: 0;
    height: 42px;
    color: #fff;
    line-height: 1;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    border-radius: 0;
    -webkit-user-drag: none;
    max-width: 160px;
    margin-top: 10px;
    margin-right: 10px;
}
.btn-e-number {
    height: 46px;
    border-radius: 0;
}
.btn-e.btn-e-number .fa {
    padding-right: 0;
}
.btn-e-checkout {
    margin-left: -5px;
    vertical-align: middle;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
    }
}
.text-muted {
    color: #777;
}
.social-links {
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 40px 0 20px 0;
}
.social-links li {
    display: inline-block;
    margin: 0 2px 2px 0;
    margin-right: 10px;
}
.social-links li:last-of-type {
    display: inline-block;
    margin: 0 2px 2px 0;
    margin-right: 0px;
}
.social-links li a {
    width: 45px;
    height: 45px;
    display: block;
    text-align: center;
    font-size: 20px;
    background: #e84c3d;
    border: 1px solid #e84c3d;
    color: #fff;
}
.social-links.circle li a {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.social-links li a i {
    line-height: 44px;
}
.social-links li.facebook a:hover,
.colored.social-links li.facebook a {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.social-links li.twitter a:hover,
.colored.social-links li.twitter a {
    background-color: #55acee;
    border-color: #55acee;
    color: #fff;
}
.social-links li.googleplus a:hover,
.colored.social-links li.googleplus a {
    background-color: #dd4b39;
    border-color: #dd4b39;
    color: #fff;
}
.space-top {
    padding-top: 20px;
}

/*
* === Error Page ===
*/
.error-page {
    padding: 15px 0 35px;
}
.error-title,
.error-subtitle,
.error-title span {
    font: 700 100px/0.7 'Raleway', Verdana, sans-serif;
    margin-bottom: 40px;
}
@media (min-width: 992px) {
    .error-title,
    .error-title span {
        font-size: 280px;
        margin-bottom: 80px;
    }
}
@media (min-width: 768px) {
    .error-title,
    .error-title span {
        font-size: 180px;
        margin-bottom: 60px;
    }
}
.error-subtitle {
    font-weight: 600;
    font-size: 32px;
    color: #4e4e4e;
    margin-bottom: 30px;
}
@media (min-width: 992px) {
    .error-subtitle {
        font-size: 72px;
        margin-bottom: 60px;
    }
}
@media (min-width: 768px) {
    .error-subtitle {
        font-size: 48px;
        margin-bottom: 45px;
    }
}
@media (min-width: 992px) {
    .error-text {
        max-width: 720px;
        font-size: 16px;
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .error-text {
        font-size: 15px;
    }
}